[2009-07-30 19:58] eyedol opened #1 "Back button map"
Back button doesn't work when on map page

[2009-07-30 20:44] eyedol opened #2 "Not responding"
I tried submitting a report, but the app seems to freeze up when I click
Send, I get the "not responding" popup, and then when I click "wait" the
Ushahidi app puts up a toast saying that it couldn't get network access.

[2009-07-30 20:46] eyedol opened #3 "About page"
When opening "About" from the map or the main screen, pressing back first
reloads the About screen, then it returns to the map on a second press and
stops there.

[2009-08-20 15:13] eyedol commented on #1
Fixed

[2009-08-24 19:39] eyedol commented on #2
Fixed

[2009-09-12 20:24] ushahidi opened #4 "Network Error"
Bug Report By: Andrew Riley
Priority: NORMAL

Description:
When I manually sync (haven't tried auto-sync yet) I receive the error "Network error, please ensure you are connected to the net." The sync looks like it is processing in the background (the progress bar slides across the screen and my count X/100 increments).

When I then click on "list incidents" it is blank.

I have tried restarting th

[2010-02-11 17:02] ushahidi opened #5 "Country Select"
Because there are so many countries, is it possible to have the same type of select that's available in the Android Contacts, where one can quickly scroll to an alphabetic letter? Currently scrolling down to countries like the US takes some work.

[2011-12-13 15:08] #1 closed, assigned to nobody

[2011-12-13 15:08] #2 closed, assigned to nobody

[2011-12-13 15:08] #3 closed, assigned to nobody

[2011-12-13 15:08] #4 closed, assigned to nobody

[2011-12-13 15:08] #5 closed, assigned to nobody

[2011-12-13 15:22] eyedol opened #16 "Port Code"
Port the existing code to the new MVC like framework and make the app tablet friendly.

[2011-12-13 15:24] eyedol opened #17 "Ability to cancel report in progress"
Cannot cancel report in progress. If <- from report screen, and then go back, old values still there. Same after killing the application, or even rebooting the device.

HTC Desire/CM7.0/Ushahidi2.9.1

[2011-12-13 15:29] eyedol opened #18 "Allow user to remove the picture taken/selected"
Once a picture is taken/selected, it cannot be removed from the report, only changed

[2011-12-13 15:30] eyedol opened #19 "Disable auto geolocation in report form"
Currently, when the user selects a new location in the map, or if the location in the map is updated for any other reason (see bug# 2400), the text in the "location" field is replaced with the geocoded address, this presents two issues:

1) Outside of some countries, the geocoding is very inaccurate
2) The user may choose to use this field to specify details about the location that cannot be detec

[2011-12-13 15:31] eyedol opened #20 "Filter by users"
Allow checkin filtering by user names

[2011-12-13 15:32] eyedol opened #21 "Switch Deployments whiles the device is offline"
Allow the ability for users to switch between deployments whiles the app is offline.

[2011-12-13 15:33] eyedol opened #22 "Commenting"
Add commenting to checkins and reports

[2011-12-13 15:36] eyedol opened #23 "Administer Report"
Refer to the API wiki on report administration via the API. See [Admin Api](http://wiki.ushahidi.com/doku.php?id=ushahidi_api#admin_api)

[2012-01-07 12:57] eyedol opened #25 "Nullpointer when checkin is doing a file upload"
java.lang.NullPointerException
at com.ushahidi.android.app.checkin.NetworkServices.PostFileUpload(NetworkServices.java:81)
at com.ushahidi.android.app.checkin.NetworkServices.postToOnline(NetworkServices.java:56)
at com.ushahidi.android.app.checkin.CheckinActivity$10.run(CheckinActivity.java:627)

[2012-01-07 12:59] eyedol opened #26 "Resource Not Found Exception is thrown when going to about page"
Tracetrack is here

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ushahidi.android.app/com.ushahidi.android.app.About}: android.content.res.Resources$NotFoundException: String resource ID #0x7f0700d4
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:1651)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:1667)
at android.app.Activ

[2012-01-07 13:02] eyedol opened #27 "NullPointerException is thrown when clearing cached deployments"
java.lang.NullPointerException
at java.io.File.fixSlashes(File.java:205)
at java.io.File.init(File.java:189)
at java.io.File.<init>(File.java:139)
at com.ushahidi.android.app.DeploymentSearch.clearCachedReports(DeploymentSearch.java:464)
at com.ushahidi.android.app.DeploymentSearch$ReportsTask.onPostExecute(DeploymentSearch.java:647)
at com.ushahidi.android.app.DeploymentSearch$ReportsTask.onPostE

[2012-01-08 19:50] #26 closed, assigned to eyedol

[2012-01-08 20:49] #25 closed, assigned to eyedol

[2012-01-08 20:49] #27 closed, assigned to eyedol

[2012-01-19 20:57] pdestefanis opened #28 "Please add values-es folder with strings.xml in Spanish"
All the strings have been translated with Transifex, please add the folder and file to the repo.
Thank you,
Pablo

[2012-02-04 11:29] eyedol opened #29 "Setup ACRA"
This will allow the collection of crash reports from users.

Look into how to set [ACRA](http://code.google.com/p/acra/) up http://code.google.com/p/acra/wiki/BasicSetup

[2012-02-11 20:46] eyedol opened #30 "Edit Existing Map"
Add the ability to allow users to edit an existing map aka deployment. At the moment, you can only add but cannot edit.

[2012-02-11 22:12] eyedol opened #31 "Port Deployment Search to new code base"
Move all the codes in the deployment search related classes to the new code base. Rename deployment now to maps so to maintain consistency across both the iPhone and Android apps.

[2012-02-13 08:09] eyedol opened #32 "Investigate the cause of this issue"
02-13 07:18:07.717: E/AndroidRuntime(565): Caused by: java.lang.NullPointerException
02-13 07:18:07.717: E/AndroidRuntime(565):  at com.ushahidi.android.app.data.Database$DatabaseHelper.onCreate(Database.java:309)
02-13 07:18:07.717: E/AndroidRuntime(565):  at com.ushahidi.android.app.data.Database$DatabaseHelper.onUpgrade(Database.java:398)
02-13 07:18:07.717: E/AndroidRuntime(565):  at android.d

[2012-02-13 08:42] #31 closed, assigned to nobody

[2012-02-13 08:44] #30 closed, assigned to nobody

[2012-02-26 18:24] eyedol opened #34 "Add tablet support When viewing maps"
Add split view when on a lager screen. This split view happens when searching for reports

[2012-02-26 18:37] eyedol opened #35 "Add new splash image that supports landscape orientation"
Add a splash screen image that supports landscape mode. Currently the image only supports portrait and doesn't scale when in landscape.

[2012-02-26 18:54] eyedol opened #36 "Port add report"
Move add report to new code base

[2012-02-26 19:45] eyedol opened #37 "Port add checkins"
Move add checkin to the new code base

[2012-02-26 19:46] eyedol opened #38 "Port checkin listing"
Move checkin listing to the new code base

[2012-02-29 23:36] bernEsp opened #39 "Starting activity com.ushahidi.android.app.SplashScreen crashed"
When you start an example of this app you get this error:
E/AndroidRuntime(652): java.lang.RuntimeException: Unable to instantiate application com.ushahidi.android.app.MainApplication: java.lang.ClassNotFoundException: com.ushahidi.android.app.MainApplication in loader

[2012-03-02 16:20] #39 closed, assigned to nobody

[2012-03-02 16:22] bernEsp commented on #39
This issue is caused by an error in core library manifest if the project eclipse name and manifest project name are different you get this error.

[2012-03-02 19:50] evoltech opened #40 "2.9.3 does not collect reports or show map"
Initial tests of release 2.9.3 do not show reports or map info.  Looking at the server logs I do not see the device making any requests.  What is the last known working version?

[2012-03-05 07:05] eyedol commented on #40
@evoltech the last known working version has been 2.9.3 Not sure what the issue might be. Maybe get the logs from Android side to see what going on?

[2012-03-05 08:12] eyedol opened #44 "Upgrade ActionbarSherlock to 4.0.0RC1"
[ActionbarSherlock](http://beta.abs.io/) has an RC1 for download. Grab and use that instead

[2012-03-06 13:43] #28 closed, assigned to nobody

[2012-03-06 18:45] jetherton opened #45 "When there's an error uploading a report, I have to rewrite the title and description"
I had an Ushahidi deployment that had a bug in the API. So when I tried to upload a report it'd say something about "the API isn't working, check the database."

The annoying thing was that after the error message went away the title field and description field were blank. It'd be nice if errors don't clear these fields.

[2012-03-06 18:48] jetherton opened #46 "back button doesn't work as expected"
Here's what I do:
1. Upload a new report and hit send
2. I get a confirmation that the report was sent successfully
3. I'm then taken back to the list of reports.
4. I hit back
5. I'm taken back to the report upload form. I expect to be taken back to the list of Ushahidi deployments. If I press back again, I go to the list of reports, and if I press back a 3rd time I'm finally taken back to the li

[2012-03-09 07:40] #34 closed, assigned to nobody

[2012-03-09 07:56] eyedol opened #47 "Style the tab at the split view"
At the moment, the tab on the split view is white and doesn't blend so well with the rest of the views. Style this with glossy black or something

[2012-03-09 08:01] eyedol opened #48 "Filter reports"
Add a search bar at the report listing screen to allow filtering by title

[2012-03-09 17:50] #48 closed, assigned to nobody

[2012-03-09 17:54] evoltech commented on #40
I attached the adb debugger this morning and started collecting some logs.  I saw some messages which looked like exceptions about the google maps.  I decided to uninstall the application and reinstall so that I could collect a better log dump for this issue, but when I reinstalled it everything seemed to work.  I tried a few different deployment urls and the only issue I was able to generate was

[2012-03-09 18:59] eyedol commented on #40
@evoltech  I made a [2.9.4](https://github.com/ushahidi/Ushahidi_Android/zipball/v2.9.4) release this week which fixes Google maps API key issue and added Spanish translation. Please keep using the app and let me know if you come across any issue. Thanks

[2012-03-09 21:28] evoltech commented on #40
Thanks for your continued work and attentiveness.

[2012-03-09 21:28] #40 closed, assigned to nobody

[2012-03-10 16:23] zucche opened #49 "Reports created offline aren't synced to Crowdmap when connectivity is available"
The reports you create when internet connection isn't immediately available are supposedly synced to your Crowdmap deployment when the connectivity becomes available again.
It seems this isn't currently working on my Ushahidi Android app.

Here are the steps I follow:
- have a Crowdmap deployment already set in the Ushahidi app
- turn on GPS (and wait some time)
- turn off WIFI (I didn't test this

[2012-03-10 18:53] eyedol commented on #49
@zucche  -- I'll look into this further.

[2012-03-10 18:54] #47 closed, assigned to nobody

[2012-03-12 11:19] eyedol opened #50 "Switch to using JSON string when fetching reports"
At the moment, reports are fetched as XML. It's erroneous and time consuming when processing the XML string so switching to JSON which is much cleaner and easier to parse.

[2012-03-14 14:04] eyedol opened #51 "Move legacy code that handles DB interactions"
Move them to the new code base

[2012-03-22 21:58] #51 closed, assigned to eyedol

[2012-03-22 22:52] #50 closed, assigned to nobody

[2012-04-30 04:32] #46 closed, assigned to nobody

[2012-04-30 04:32] #36 closed, assigned to nobody

[2012-04-30 04:40] #19 closed, assigned to nobody

[2012-04-30 04:40] #17 closed, assigned to nobody

[2012-04-30 04:41] #45 closed, assigned to nobody

[2012-05-13 07:52] jarofgreen opened #52 "--"
##

[2012-05-13 09:51] #52 closed, assigned to nobody

[2012-05-13 09:54] jarofgreen commented on #52
Sorry, realised I was being really stupid ... pls just delete!

[2012-05-13 10:35] bfazen opened #53 "Force closing after sending successful checkin"
I am getting a consistent FC with Ushahidi 2.9.4 interacting with a CrowdMap deployment using checkins.  The checkin sends fine, but when app goes to clearFields, it seems like clearing the image file (which was never loaded in the first place) causes the FC?

[code]

[2012-05-13 16:40] #38 closed, assigned to nobody

[2012-05-13 16:41] #37 closed, assigned to nobody

[2012-05-13 16:42] #16 closed, assigned to eyedol

[2012-05-13 16:42] #18 closed, assigned to nobody

[2012-05-13 16:42] #20 closed, assigned to nobody

[2012-05-13 16:43] #32 closed, assigned to nobody

[2012-05-14 07:24] eyedol commented on #53
@bfazen -- Will look into this

[2012-05-15 15:37] bfazen opened #54 "Connectivity with crowdmap issue"
Whenever I try to add a new report on Ushahidi Android app, I get the toast:

[code]

I have filled all the required fields though, and it seems like it is serverside... debugging it gives

[code]

which I believe indicates a serverside issue... Is there a setting I need to activate on my crowdmap site? Is there some other issue?  I am running a newly downloaded Ushahidi Android app on Ideos u8150

[2012-05-16 13:56] eyedol commented on #54
Yeah it's a server side issue. Use this quick hack to turn it off. Change line 118 of application/libraries/api/My_Report_Api_Object.php from

if ($post->validate())

to

if ($post->validate(FALSE))

[2012-05-16 18:06] bfazen commented on #54
sorry tad green on all things ushahidi... i am not running my own server, just hoping to send reports to crowdmap.com.  how do i go about changing My_Report_Api_Object.php on the crowdmap server? is that possible to do for my specific site?

thanks.

[2012-05-20 07:17] eyedol commented on #53
Fixed

[2012-05-20 07:17] #53 closed, assigned to nobody

[2012-05-20 07:17] eyedol commented on #49
Fixed

[2012-05-20 07:17] #49 closed, assigned to nobody

[2012-05-20 07:18] eyedol commented on #54
@bfazen -- No you can't do that on your own. Should be fixed with crowdmap soon.

[2012-05-20 07:18] #54 closed, assigned to nobody

[2012-05-29 20:46] AhmedSalem opened #55 "Can't submit incident after upgrade Usahidi web to master !!"
Dears,

I have a  problem after upgrading Ushahidi web to the latest version , When submit incident and filling all required fields

Get the Message (Failed to send report.Check to see if you filled all required fields.)

Our Ushahidi deployment available on http://www.zabatak.com

Can any one submit Incident on that link ??

[2012-06-06 05:32] eyedol commented on #55
Could you upgrade to the latest version 2.4 of Ushahidi web? There was an issue with the API which affected the mobile apps.

[2012-06-06 05:42] eyedol opened #56 "Upgrade db schema"
The DB schema has changed hugely.  Implement an upgrader to update the old db schema to the new one.

[2012-06-06 05:50] eyedol opened #57 "Clear existing data when switching between deployments"
When an active deployment is switch to a different one, make sure all the active data have been cleared. This include, fetched reports/checkins, fetched and pending images.

[2012-06-06 09:27] #57 closed, assigned to nobody

[2012-06-12 11:52] #56 closed, assigned to nobody

[2012-06-15 09:20] rediguana opened #58 "Categories don't recognise hierarchy"
If you have implemented a nested hierarchy on Ushahidi web, the Android Ushahidi application does not recognise this hierarchy. Additionally, it renders the top level title, after its children. E.g. if you have a top level Cat 1, that has two children Cat 1A and Cat 1B, then the order they appear in the Android app is: Cat 1A, Cat 1B, Cat 1. Two things should really happen.
1. The list should be o

[2012-06-16 03:51] rediguana opened #59 "Offline draft reports are not uploading photos"
I have just been testing the offline functionality. I have found that when a photo is taken when in an offline state, that the photo is not uploaded to the Ushahidi server once sync occurs back in network coverage/wifi.

To reproduce:
1. Disable wifi/mobile data on the phone.
2. Create a report (at this point a draft is saved).
3. Add a photo (afterwards the draft is saved again).
4. Send the repo

[2012-06-20 21:54] #22 closed, assigned to nobody

[2012-06-22 15:02] eyedol opened #60 "Remove Advance Settings"
The current advance settings has a lot of options that are hardly used by users and some of them don't work and not need. Remove the entire advance settings.

[2012-06-22 15:04] #55 closed, assigned to nobody

[2012-06-22 15:07] eyedol opened #61 "Adapt to a new branching model"
Adapt to the new branching model at http://wiki.ushahidi.com/display/WIKI/Our+Git+Repository and add the details to the project's readme file

[2012-06-22 18:22] eyedol commented on #59
Fixed in 3.0.0

[2012-06-22 18:22] #59 closed, assigned to nobody

[2012-06-22 18:23] #60 closed, assigned to nobody

[2012-06-22 18:28] eyedol commented on #58
@rediguana  I'll have to look into this especially regarding indenting the child categories. I'll leave this still opened for now.

[2012-07-06 14:16] #61 closed, assigned to nobody

[2012-07-23 01:20] sfboy opened #62 "Report upload failed ...."
Everytime by Upload shows up following toasts:
1. Saved
2. Uploading
3. Failed

That error message is in ReportFragment.java R.string.failed

[2012-07-26 13:27] sfboy opened #63 "Upload 2 or more images crash"
Checkin upload 2 or more images crash.

[2012-07-26 13:35] sfboy opened #64 "Changed Menu button position on Mapview"
After changing to Mapview tab:

Position of Add icon replaced with refresh button.

[2012-07-26 13:37] sfboy opened #65 "Force close empty Report add"
When the some required text fields are empty, then force close error message comes up.

There should be Title is empty or Description or Category is empty popup error messages show up, when some required text fields are empty.

[2012-08-01 21:54] eyedol commented on #62
Keep resending. It fails if the connection fails at some point when doing the upload. It eventually gets sync. Please confirm this.

[2012-08-02 09:40] sfboy commented on #62
thanks for your response.

I checked it many times and still have the same issue. My internet and wifi connections are actually excellence.

But i can upload Checkin and comment without any issue, but uploading report doesn't work.

If you download last updated version ushahidi app from google play, you will face the same issue.

Hope, you will fix this asap.

[2012-08-02 19:23] eyedol commented on #62
Which deployment are you uploading to? So I can test it from my end.

[2012-08-02 19:44] eyedol commented on #65
Which empty fields give FC?

[2012-08-03 02:00] sfboy commented on #62
http://udo dot codelab48 dot com

[2012-08-03 02:01] sfboy commented on #65
category, report title, description for add report

[2012-08-03 11:54] #65 closed, assigned to nobody

[2012-08-03 11:54] #63 closed, assigned to nobody

[2012-08-03 11:54] #64 closed, assigned to nobody

[2012-08-03 13:11] eyedol commented on #62
Weird. I just submitted a report via the the emulator. Confirm if you can see a test report from Accra.

[2012-08-03 13:56] sfboy commented on #62
I will make for you video file tomorrow, actually i have tested android 2.1 phone and ics 4.03. I tried to upload report via simulator i didn't work. Also it shows after send action automatically toast.saved and after that uploading progress with animation and toast.failed no reports too see on web site. I can't log in now to website and check your uploaded report from the mobile phone. I will che

[2012-08-04 08:10] sfboy commented on #62
Your report is attached and i accepted it. Which version did you use to upload that one? actually i tried many times last version 3.00

Also as i promised you, i created video, pls find below link:

http://www.youtube.com/watch?v=PDXAsENn_y8

[2012-08-04 22:02] eyedol commented on #62
Could you install catalog https://play.google.com/store/apps/details?id=com.nolanlawson.logcat

Then run the app when it crashes, attach the crash report here.

[2012-08-06 07:42] eyedol commented on #62
There is no log report about Ushahidi crash. Not sure if you recorded the crash after attempting to upload?

[2012-08-06 07:54] sfboy commented on #62
how about report upload failed?

[2012-08-06 08:17] eyedol commented on #62
That is what I'm trying to fix. Things look good on my end.
Try and fill in all the required fields and then attempt to upload.

[2012-08-06 08:36] sfboy commented on #62
i tired that way and exactly then happens this error failed, did you see the video to the end. After crash situation it happens 4:40 in video. can you send me your source code via email: tumurr at gmail.com.

I woul like to test your end .... copare your and my end? is that possible?

[2012-08-06 14:48] slabo opened #66 "Categories don't show"
Thanks for coding this app, an essential tool in the Ushahidi toolbox.

I installed Ushahidi on a private hosting provider, and so far everything is working just fine so far.

Tried out the iPhone app, had to borrow one for a few minutes, everything looked just fine, was able to add a report, browse reports, filter by categories ..

On Android, on my HTC GSM Hero phone at least, categories don't s

[2012-08-06 20:31] eyedol commented on #66
Since it works well on the iPhone app, your site seems to be fine. What deployment are you testing against? Which android version are you running?

[2012-08-06 20:59] eyedol commented on #62
@sfboy  -- Try this build and let me know how it goes. https://github.com/ushahidi/Ushahidi_Android/Ushahidi.3.0.1-alpha1.apk/qr_code

[2012-08-06 22:09] slabo commented on #66
Using latest versions in both site and android.

Well I think it was a connection issue. Not necessarily a fault with Ushahidi, and nothing wrong with my DSL connection. But this phone is not always in the mood. I kept hitting refresh and a few times later all hickups cleared :D

Also, the application crashed a few times when trying to upload a photo, could a laggy connection crash the app?

I tri

[2012-08-06 22:48] eyedol commented on #66
@slabo  Try this one let me know how it goes https://github.com/ushahidi/Ushahidi_Android/Ushahidi.3.0.1-alpha1.apk/qr_code

[2012-08-06 23:11] #58 closed, assigned to nobody

[2012-08-06 23:11] eyedol commented on #58
@rediguana Fixed!

[2012-08-07 16:14] slabo opened #68 "Feature to login through android app?"
Is there a reason why it’s only possible to add reports anonymously through the Android and iPhone apps? Am I missing something ? Seems apps don’t ask for usename/pass and just let anyone submit a report.

[2012-08-09 15:57] KirkM0rris opened #69 "Ush 2.5 & Mobile 3.0 - Galaxy S iii"
lat/lon is reversed when report uploads to platform. Appears correctly in mobile app before upload. On upload I'm in Antartica :0

[2012-08-09 15:59] eyedol commented on #69
Probably there is a flip between lat and lon variable call. I'll look into this further.

[2012-08-13 10:08] #66 closed, assigned to nobody

[2012-08-13 10:09] #44 closed, assigned to nobody

[2012-08-13 17:47] TamaraAtanasoska opened #70 "Macedonian Translation"
I have translated the application on Transiex. I have installed the application and I am trying to find a way how to switch English with Macedonian but I can't find. What do I need to do?

Thanks in advance.

[2012-08-14 07:48] BlueLion99 commented on #62
The problem persists.

I already had a completed entry in the forum ...

[2012-08-14 15:20] Xentar commented on #62
I have the same issue. Tried in 3.0, 3.0.1 and got the saved-uploading-failed.
When i did a test with 2.9, 2.6 and 2.0 all worked fine.
Tested in a Samsung galaxy S with android 2.3.3 and in 2 tablets, one with 2.2 and the other with 3.2
All the tests were done with 3g and WiFi connection (just in case)

[2012-08-14 21:08] eyedol commented on #62
@BlueLion99 and @Xentar  could you try sending me a log report using [catlog](https://play.google.com/store/apps/details?id=com.nolanlawson.logcat). Also which deployments are you testing against?

[2012-08-15 01:51] Xentar commented on #62
Logcat: http://www.reanimados.com/logcat_and_device_info.zip
Tested in the demo and in the one i installed on my server: www.reanimados.com/gps
The version installed on reanimados is the last build.

In other topic, Eyedol, is there a place i can download the 2.9 version source code for iphone/android? I have some issues trying to open it on my eclipse (the last build), but the real reason is that

[2012-08-15 08:45] FSeitz opened #71 "No report upload/view possible when setting deployment to private"
When I set my deployment as private in the settings of the Ushahidi Web Platform (for providing a login page) it is not possible to view or upload any reports with the mobile version. Is there any possiblity to provide a login page for the web platform and nevertheless being able to view/upload reports with the mobile version? Or is it possible to add a login for the mobile version too to fix this

[2012-08-15 09:25] eyedol commented on #62
@Xentar you can find the [2.9.x](https://github.com/ushahidi/Ushahidi_Android/tree/2.9.4) branch [here](https://github.com/ushahidi/Ushahidi_Android/tree/2.9.4). What don't you like about the 3.0.0 UI.

Regarding the issue you're facing. Catch me on IRC and let fix it. freenode.net #ushahidi as eyedol

[2012-08-15 19:02] eyedol commented on #71
@FSeitz at the moment, private deployment doesn't expose the API. There is an upcoming fix for that. Once that is shipped, the mobile apps will implement it.

[2012-08-15 20:41] eyedol commented on #70
@TamaraAtanasoska You have to switch that from the phone's Language and Input settings. Did you build the app with Macedonian translation  installed?

[2012-08-15 20:59] eyedol commented on #70
I'm turning this into an issue to officially add the translation from [transifex](https://www.transifex.com/projects/p/ush_Android/language/mk_MK/) to the repo

[2012-08-16 07:04] FSeitz commented on #71
@eyedol Thanks for your answer, I'm waiting for this to come :)

Greetings, Fabian

[2012-08-16 07:04] #71 closed, assigned to nobody

[2012-08-16 11:08] TamaraAtanasoska commented on #70
Ok I will have that in mind when it will be integrated. Thanks.

[2012-08-16 14:23] Xentar commented on #62
Thanks! Well, the 3.0 is more minimalist and have some nice things, but the 2.9- versions are more graphical, the dashboard and the icons give it a more "friendly" look. What im going to miss of the 3.0 version is the map category list and the report interface.

About my issue, thanks for the offer, if i get stuck going to join you in IRC. I'm a newbee developer, so i'm sure i'm just setting somet

[2012-08-17 20:10] #70 closed, assigned to nobody

[2012-08-17 20:17] eyedol opened #72 "Add Icon For settings and about screens"
The Settings and About Screen only have text for the menu. Add icons as well so when they end up showing the actionbar it won't be only text

[2012-08-17 20:28] romulowspp opened #73 "No map in android app"
I just compile android for Ushahidi, the git version 2.9.4, everything is working fine, but the map shows only those points, the map does not appear.

[2012-08-17 20:44] eyedol commented on #73
You need to provide a [map API key](https://developers.google.com/android/maps-api-signup) -- Check [line 95](http://goo.gl/MlwgP)

[2012-08-17 20:59] #72 closed, assigned to nobody

[2012-08-17 21:18] eyedol commented on #62
@Xentar I just sent a test report to your deployment without an issue. Not sure what's causing the failure from your device.

[2012-08-21 08:07] BlueLion99 commented on #62
Request code 200 but get back the JSON data is:

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>Geohazard</title>
    <me

[2012-08-21 08:28] eyedol commented on #62
There is an issue with the server side then. What happens if you submit a report via the web form ? also which deployment are you using to test?

[2012-08-21 08:47] BlueLion99 commented on #62
I have written an HTML form and try this to send a POST. Request code is 200 but the data is not displayed.

On the report form of Crowdmap he registered the report and will also be shown.

[2012-08-21 08:49] BlueLion99 commented on #62
Here is the HTML form:

[code]

[2012-08-22 21:22] eyedol commented on #62
It looks like your deployment is blocking report submission. I can't get to https://geohazard.crowdmap.com/reports/submit it redirects to the main page.

[2012-08-23 23:23] ojovoz commented on #62
Hi there. Same problem here: using Ushahidi v3.0.0 on an HTC Desire (OS 2.2) ... I can create a report, but upload always fails. I'm trying to send it to this deployment: http://kerouac.crowdmap.com . Also: when I try to take a picture with the camera, the app crashes. Thanks for looking into this.

[2012-09-16 19:29] heatherleson commented on #69
HI Henry, this issue is still occurring:
 http://uchaguzi.co.ke/admin/reports?status=a  (two examples in the deployment)

eg
Latitude: -74.641778   Longitude: 40.650894
500, hills dr, bedminster, united states

Please advise
heather

[2012-09-19 17:36] yamatt opened #74 "When adding a map missing off trailing slash causes failure"
So in the Android Play version of this app if you add a map using a URL that doesn't end in a / you get a failure when trying to access the map.

Should be a simple fix to detect if it ends in a / and add it if it doesn't.

[2012-09-20 01:47] sfboy commented on #62
this issue is fixed by version 3.02, where to find source code of v.3.02

[2012-09-20 07:00] eyedol commented on #62
@sfboy glad to hear that fixes your issue. For the source code, check the v3.0.2 tag

[2012-09-20 07:04] eyedol commented on #68
@slabo  is because it's a pending feature that needs to be implemented. At the moment, both the Android and iOS doesn't support authentication.

[2012-09-20 07:04] #68 closed, assigned to nobody

[2012-09-20 07:05] eyedol commented on #74
Funky. I'll look into this

[2012-09-20 07:06] eyedol commented on #69
@heatherleson  This is fixed in the v3.0.2 release. Upgrade. Could you confirm if it's working for you?

[2012-09-20 07:07] #73 closed, assigned to nobody

[2012-09-20 09:57] sfboy commented on #62
thank you for your quick respone, but by compiling comes to this error message:

something is wrong with SplashScreenActivity on line 58

you will see it when you compile it

[2012-09-20 10:13] sfboy commented on #62
error message screenshot:

http://imageshack.us/photo/my-images/715/splashissue.jpg/

[2012-09-20 10:23] BlueLion99 commented on #62
Hello ...

Dispatch by HTC Desire with Android 2.3.3 works with the new version 3.0.2. However, on a Samsung Galaxy Nexus with Android 4.1.1 it does not work.

Shipping with Ushahidi app.

[2012-09-20 10:34] sfboy commented on #62
i imported aws & merge from libraries folder and then core but when i compile ushahidi theme, it doesn't show splash or reportactivity tab.

[2012-09-20 13:53] sfboy commented on #62
i tied also following solution but it doesn't work for me.
http://android.foxykeep.com/dev/how-to-fix-the-classdefnotfounderror-with-adt-17

something is wrong, first i have imported abs project to eclipse and then mergeadapter, both were in libraries folder.

And then i have imported core project. After that ushahidi theme. everything looks fine also no errors are to see.

By compiling the projec

[2012-09-21 00:57] KirkM0rris commented on #69
@eyedol Fixed! Thank you.http://uchaguzi.co.ke/admin/reports/edit/82 Please delete report when fix verified.

[2012-09-21 00:58] KirkM0rris commented on #69
fixed  http://uchaguzi.co.ke/admin/reports/edit/82

thanks

On Sun, Sep 16, 2012 at 3:29 PM, Heather Leson notifications@github.comwrote:

##

Kirk Morris

Standby Task Force
+1 347 871-5014
Skype: km5050
Twitter: @Jasper_Johns
Website: blog.standbytaskforce.com

[2012-09-21 09:04] eyedol commented on #69
@KMsbtf Thanks. Going to close this issue

[2012-09-21 09:04] #69 closed, assigned to nobody

[2012-09-21 09:24] eyedol commented on #62
@sfboy since this is not related to this issue, could you move it to the forum?

[2012-09-21 09:26] sfboy commented on #62
sure.

[2012-09-21 09:52] sfboy opened #75 "Version 3.02 issue"
By compiling the version 3.02 source code, there's following issue

http://imageshack.us/photo/my-images/542/splashissue.jpg/

[2012-09-22 14:39] sfboy commented on #75
any feedback?

[2012-09-24 14:28] Magaz commented on #75
Is there any possibilities to add some very useful features: AutoSyns,  AutoSync Frequency, Background notifications like in Beijing 2.9.5 for example

Also what I` d like to add to App is background checkin mode..with some frequency

Thank you for your work and best regards!

[2012-09-24 14:31] eyedol commented on #75
@sfboy What do you have in your manifest file for this

[code]

[2012-09-24 14:33] Magaz opened #76 "Feature"
Is there any possibilities to add some very useful features: AutoSyns,  AutoSync Frequency, Background notifications like in Beijing 2.9.5 for example

Also what I` d like to add to App is background checkin mode..with some frequency

Thank you for your work and best regards!

[2012-09-28 14:21] eyedol opened #77 "Removed unused receiver class"
The class  OfflineIncidentSendReceiver  is not more in use. Remove it entirely from the manifest file

[2012-09-28 14:48] #77 closed, assigned to nobody

[2012-10-04 10:05] sfboy opened #78 "Version 2.9.4 image scale blurry issue"
Hello,

I also started to develop on version 2.9.4, because after my opinion this version works stable.

There's a little issue on 2.9.4, which i can't solve the issue since 5 days ago.

The report pictures are scaled to android phone, but the picture is blurry.

I looked solution for this in goolge, but i didn't find some helpful posts. Therefore i please you guys, help me to solve this one.

Loo

[2012-10-04 12:50] ghost opened #79 "Feature Request: Support upload to Youtube/Vimeo and include in reports Edit"
Use Case:
1) Open Ushahidi App - enter your deployment URL and when all set.
2) Click to Report
3) Include a Video
- Existing Video
- New Recording
  4) In either case - upload the video to Youtube or Vimeo - we let the user allow connecting to this service using their Youtube/Gmail/Vimeo credentials.
  5) When the video is uploaded - include the URL to the report and publish.

[2012-10-04 15:52] sfboy opened #80 "1< images issue"
When i upload 1< pictures, it will show in report view there's 3 pictures and it shows in image previewer same pictures.

[2012-10-07 19:18] dalb8 opened #81 "Building v3.02"
Then project.properties in Core/ says that it should be built as a library: it seems to be the main project so if this is right , how do I go about building it?

[2012-10-07 19:18] dalb8 opened #82 "Building v3.02"
Then project.properties in Core/ says that it should be built as a library: it seems to be the main project so if this is right , how do I go about building it?

[2012-10-09 17:47] eyedol commented on #81
@dalb8 You can't build the Core/ source. It's a library project. Try and build Themes/Ushahidi instead. It links the Core project.

[2012-10-09 17:47] #81 closed, assigned to nobody

[2012-10-09 21:28] dalb8 commented on #82
Ok. I'm trying to enter it into F-droid free software repo: Here is the setup:

Build Version:3.0.2,27,v3.0.2,subdir=Themes/Ushahidi,target=Google Inc.:Google APIs:15,update=.;../../Core;\
../../Libraries/cwacmerge;../../Libraries/abs,prebuild=cp ../../Core/libs/\* libs/

Here, update means android update project -p . -s is run in those directories. We don't have API 13 on our build server so I've

[2012-10-10 14:30] sfboy commented on #78
Pls help me eyedol one last time, i can't get this solved. I tried many things.

The pictures are blur, when we get the bitmaps from phone, because i checked my gallery and then found the downloaded pictures, they are good quality. But when i see those pictures in app, then it's blur.

[2012-10-10 15:53] sfboy commented on #78
pls pls help me or give me just a direction, where should i exactly look?

[2012-10-11 09:43] eyedol commented on #82
@dalb8 You will need API 13 because of abs library. Grab it if you can

[2012-10-11 09:56] sfboy commented on #78
hello eyedol, can you help me to solve this one

[2012-10-11 10:03] sfboy commented on #78
i will pay for your service, is that fair?

[2012-10-11 10:23] sfboy commented on #78
pls pls help me?

[2012-10-11 11:26] sfboy commented on #78
hello, eyedol, this issue is very urgent and i would like to pay for your service. thank you.

[2012-10-11 12:04] eyedol commented on #78
@sfboy are you working with the 2.9.4 branch? I don't maintain it anymore. I'll point you to the right code so you solve the issue.

[2012-10-11 12:08] dalb8 commented on #82
Sorry I meant that even though F-droid has all the SDK platforms it doesn't have all the Google APIs. Each project can be updated with a different target , that's ok, but cwacmerge doesn't update. Also what does one do about there being no src/ in Themes/Ushahidi?

[2012-10-11 12:25] sfboy commented on #78
yes, i am working on it and thank you for your quick response, Pls point me to the right code & i keep try to solve this.

Thank you for your helps and i am appreciated.

[2012-10-14 13:17] sfboy commented on #80
when a report has 2 or more pictures, it shows every time first picture.

[2012-10-14 14:27] dalb8 commented on #82
mkdir src worked! Unfortunately we won't include it in f-droid because , not only does it require Google maps shared library but a release maps API key too which we can't allow unless it's already in the source. So we look forward to an OSM edition!

[2012-10-14 14:37] #82 closed, assigned to nobody

[2012-10-15 09:01] eyedol commented on #82
@dalb8 What is f-droid? Yeah, I have intentions to baked in OSM support.

[2012-10-15 09:07] sfboy commented on #80
something is wrong with ImageViewStwichworker,

[2012-10-15 09:49] eyedol commented on #80
@sfboy are you working with 2.9.4?

[2012-10-15 09:53] sfboy commented on #80
@eyedol i meant at version 3.0.2

i am still working on 2.9.4 & 3.0.2, because 3.0.2 sync process at splashscreen takes more time and sometimes it doesn't work in offline mode.

Also at 3.0.2, they pictures are not correct, in preview. It shows every time the first picture, no matter how many pictures are uploaded to the report.

[2012-10-15 10:16] eyedol commented on #80
Could you provide more detail on how to reproduce the issue. See more information here on to report a bug -- http://goo.gl/XHbfR It make it easier to track the bug down.

[2012-10-18 09:46] eyedol opened #84 "Picture upload fails"
@mrl-gt reported this via email

I noticed after saving a new report, the subsequent upload fails quiet
frequently,
so I recorded method traces to pinpoint the cause.
It seems that this is caused by a race condition in ListReportFragment.

start     end       th  name

---

---

2920463   3109766   20
com/ushahidi/android/app/ui/tablet/ListReportFragment.uploadPendingReports
2920468   3109674   20

[2012-10-22 23:39] evansims opened #86 "Can't install via Google Play on JB 4.1.2"
@jetherton just brought this to our attention in Skype and I've confirmed it on my Nexus 7 as well;

![](http://evn.li/KL0g/Screen%20Shot%202012-10-22%20at%206.37.02%20PM.png)

[2012-10-23 11:03] ptressel commented on #86
Here's a way to ask for SMS permission without disallowing install on a wifi-only tablet -- set required to false for the telephony feature. This allows using the same mainfest on phones and on wifi-only tablets.
http://stackoverflow.com/questions/5623863/uses-feature-overruling-uses-permission
You'll need to check if the device has telephony with hasSystemFeature:
http://developer.android.com/ref

[2012-10-23 11:19] eyedol commented on #86
Yeah. The android market filters the app out if a device doesn't have the telephony hardware. I'm going to remove the permission for now and then provide an update. @evansims  Thanks for the heads up. I'm on it.

[2012-10-23 11:39] eyedol commented on #86
@ptressel That will be a smart fix. Thanks for the link

[2012-10-24 10:44] ghost opened #87 "possible incorrect category data"
The `report_category` table holds the category data for both pending & fetched reports.
The value for the `report_category.report_id` can be either:
- `incidents._id` if `incidents.pending=1`
- `incidents.incident_id` if `incidents.pending=0`

if we have the following data:

[code]

Wouldn't the category data for both incidents be incorrect?

[2012-10-24 15:51] eyedol commented on #87
Good catch. Good approach is to add the pending filed. That way we're always sure of manipulating the right data

[code]

**Updated** Fix incident_id to Pending. That was what I meant to say actually

[2012-10-24 15:53] #62 closed, assigned to nobody

[2012-10-24 17:10] eyedol commented on #84
@mrl-gt See if this persist with this 54bca6d commit

[2012-10-24 17:12] eyedol opened #88 "Add Credit File"
Add a credit file to maintain a list of contributors to the Ushahidi Android project.

[2012-10-24 17:17] eyedol opened #89 "Cursor Doesn't Show on EditText"
When EditText gain focus when attempting to submit a report, the cursor doesn't blink for the user to know the EditText has gain focus. Though it accepts input once you start to type.

[2012-10-24 20:58] #89 closed, assigned to nobody

[2012-10-24 21:06] #88 closed, assigned to nobody

[2012-10-24 22:51] eyedol commented on #74
It now validates URL

[2012-10-24 22:51] #74 closed, assigned to nobody

[2012-10-25 02:49] ghost commented on #84
@eyedol I tested with the current develop branch and the issue still exists.  I think it's because 54bca6d changes `ListFetchedReportAdapter`, but the traces indicate that the race condition occurs while concurrently accessing `ListPendingReportAdapter`.  I applied similar changes to `ListPendingReportAdapter` and the issue seems to be resolved (about 10 successful consecutive uploads).  My commit

[2012-10-25 03:55] eyedol commented on #84
@mrl-gt  Okay I just pushed my changes -- 1b9397bbb8. Confirm this is fixed so I can confidently close this ticket.

[2012-10-25 11:09] eyedol opened #90 "About screen crashes"
When you go to the about screen the app crashes. Possible cause could be a missing drawable.

[2012-10-25 14:24] ghost commented on #84
@eyedol Looking deeper into the code it seems that 1b9397b results in the background thread getting correct list of pending reports, but when preparing to upload the pending report it will sometimes run into another race condition.

The background thread needs to fetch a pending report's category to send to the web server, and the UI thread needs a report's category data to display on screen.  Thi

[2012-10-26 10:54] ghost commented on #84
@eyedol Here is a possible workaround: https://github.com/mrl-gt/Ushahidi_Android/commit/daaf80a20f3065c503c82533f83834cec0d18634 If the list of pending reports is prepared in the UI thread, interleaved calls to Dao classes can be avoided.

[2012-10-27 21:27] eyedol commented on #84
@mrl-gt I have been trying to reproduce this myself but it's not happening for me. I see you understand the issue deeper than I do. I wonder how you're tracing it? If https://github.com/mrl-gt/Ushahidi_Android/commit/daaf80a20f3065c503c82533f83834cec0d18634 fixes the issue, I'm happy to merge this if you send me a pull request

[2012-10-29 02:24] ghost commented on #84
@eyedol Regarding reproducing the issue, I discovered an easier way to trigger interleaved calls:
1. turn on airplane mode
2. select a deployment and add a few reports
3. go back and forth from the list of deployments to the selected deployment
The app should exit due to `ConcurrentModificationException`  pretty quickly.  I discovered this while working on the "upload photo" feature.

The trace re

[2012-10-29 12:13] eyedol opened #91 "Commenting API crashes"
When a comment is being passed and the user doesn't fill the full name and email fields, the app crashes

[2012-10-29 19:51] #90 closed, assigned to eyedol

[2012-10-29 19:58] eyedol commented on #84
Thanks for this. I'll look deeper into the issue. Also let me know when you issue a pull request I'm happy to merge your changes.

[2012-10-30 09:05] eyedol opened #93 "Change versioning"
Since this has a huge new feature addition. increase the middle version number. Let the milestone reflect it.

[2012-10-30 15:51] aaagneees opened #94 "cannot send report by android app"
don't know why, but since 2/3 days when i try to send a report by mobile appears a popup saying that the sending is failed... :( can u help me?
check it on occupysfitto.crowdmap.com but it happens on every map i use...

[2012-10-30 19:03] #93 closed, assigned to nobody

[2012-10-31 05:40] #91 closed, assigned to nobody

[2012-10-31 06:16] eyedol opened #95 "App occasionally crashes upon attempting to submit a report."
Upon attempting to submit a new report using the emulator running Android 4.1.2. The app crashes right after the app exits from the AddReportActivity and here is the trace log

[code]

[2012-10-31 06:23] eyedol commented on #84
Changes merged

[2012-10-31 06:23] #84 closed, assigned to nobody

[2012-10-31 07:16] eyedol opened #96 "Title field case"
The title field character case is doesn't capitalize the first character as the rest of the fields. To maintain consistency, make the first character an upper case

[2012-10-31 07:19] eyedol commented on #94
@aaagneees Does your crowdmap deployment have checkins enabled? Double check. If it's enabled, the mobile app uses that instead.

[2012-10-31 07:22] eyedol opened #97 "Report upload fails"
Uploading report fails to get to the server though it reports success.

[2012-10-31 07:23] eyedol opened #98 "Add Translation"
Add Korean and German translations from transifex. See https://www.transifex.com/projects/p/ush_Android/

[2012-10-31 08:02] eyedol opened #99 "Add Translation"
Add Korean and German translations from transifex. See https://www.transifex.com/projects/p/ush_Android/

[2012-10-31 08:10] #95 closed, assigned to nobody

[2012-10-31 08:10] #98 closed, assigned to nobody

[2012-10-31 08:11] #99 closed, assigned to nobody

[2012-10-31 22:48] eyedol opened #100 "A cursor not closed causing an ugly exception to be thrown"
Here is the stack trace

[code]

[2012-10-31 23:13] #100 closed, assigned to nobody

[2012-10-31 23:30] eyedol commented on #96
Fixed

[2012-10-31 23:30] #96 closed, assigned to nobody

[2012-11-01 00:13] #97 closed, assigned to nobody

[2012-11-08 07:55] #94 closed, assigned to nobody

[2012-11-08 07:58] #86 closed, assigned to nobody

[2012-11-08 07:59] #80 closed, assigned to nobody

[2012-11-08 08:00] #76 closed, assigned to nobody

[2012-11-08 08:00] eyedol commented on #76
it does background fetches of reports. Best to keep it this way

[2012-11-08 08:01] #75 closed, assigned to nobody

[2012-11-08 08:02] #78 closed, assigned to nobody

[2012-11-08 08:05] eyedol opened #102 "Add Release script"
Stick all the command we use to generate apk for a release in a shell script so we can issue just one command

[2012-11-08 10:01] #102 closed, assigned to nobody

[2012-11-27 07:45] eyedol opened #103 "Integrate Java SDK"
Remove the verbose json implementation in the current code base and make use of the java SDK

[2012-11-28 00:42] eyedol opened #104 "Remove Checkins support"
Since checkins aren't supported anymore in core. Let it go. Causing maintenance problems

[2012-12-02 07:15] eyedol opened #105 "Implement Account Manager"
Use [Android Account Manager](http://developer.android.com/reference/android/accounts/AccountManager.html) to handle user authentication for the part of the API that requires users authentication

[2012-12-10 16:04] EUNACAL opened #106 "Deployment does not show in android device when going to "Find Maps Arround Me""
I have set up an ushahidi deployment. I try to access it from my android device going to "Find Maps Arround Me" but the deployment does not show. Any idea why?

[2013-01-25 09:36] GemmaNash opened #107 "Search enhancements needed"
On the latest version of the ushahidi app, our deployment is very hard to find. It will only come up if I write https://britishgeologicalsurvey.crowdmap.com into the search maps by URL bit. Have I missed a trick with some meta data somewhere as typing in british geological survey returns no results?
Please advise. Thanks. Gemma

[2013-01-25 09:41] GemmaNash commented on #106
So this is the same issue I have... does anyone know how to fix it? Thanks!

[2013-02-02 07:00] eyedol commented on #106
@EUNACAL Did you have public listing enabled at the ushahidi backend? It has be enabled before the deployment shows up on the backend. Since this is not a bug, I'm going to close this issue. We can have further discussion on the [forums](forums.ushahidi.com)

[2013-02-02 07:00] #106 closed, assigned to nobody

[2013-02-04 09:22] GemmaNash commented on #106
Hi
Yes, our listing is public on crowdmap.
Gemma

From: Henry Addo [mailto:notifications@github.com]
Sent: 02 February 2013 07:01
To: ushahidi/Ushahidi_Android
Cc: Nash, Gemma V.
Subject: Re: [Ushahidi_Android] Deployment does not show in android device when going to "Find Maps Arround Me" (#106)

@EUNACALhttps://github.com/EUNACAL Did you have public listing enabled at the ushahidi backend? It ha

[2013-02-10 17:45] petjal opened #108 "app crashes when opening my crowdmap"
Hi,
On my Galaxy S III, Android version 4.1.1 (SCH-I535, d2vzw) , the Ushahidi v3.1.4 crashes whenever I open my little experimental CrowdMap, http://nbpt.crowdmap.com .  Opening the other sites seem to work fine.  I've submitted the app crash report.  The report contains "Exception class name: java.lang.NumberFormatException, StringToRealJava, invalidReal, line number 63".
The site works fine in

[2013-02-18 13:51] antsemot opened #109 "app crashes when opening my deployment, map not showing"
hello

i've set up the application by changing the google maps api key, but when i run the app in the emulator, the maps are not showing (the only things shown just the grids and the google logo). the app also does not retrieve any of the categories for the deployment

this is the url of my deployment: mapping.fbb.utm.my/fly

[2013-02-24 12:16] steadyjay opened #110 "No core\bin\core.jar ?"
I created a new project in eclipse with the existing code, but I get

Project 'Coretest' is missing required library: 'C:\Users\J\Desktop\Ushahidi_Android-develop\Core\bin\core.jar'

I cannot see a core.jar in the core\bin folder?

[2013-02-25 07:22] eyedol commented on #110
This should be created automatically during the build process.

[2013-02-25 07:24] eyedol commented on #109
Make sure you're running it off the Google maps api key of your debug keystore.

[2013-03-07 22:42] rjmackay opened #111 "Add support for open street map baselayer"
Adding support for OSM as a baselayer is important as points created over the google maps baselayer could be interpretted as a derivative work of GMaps. If the user later wanted to add these data points in to OSM they wouldn't be able to do so.

Discussion from skype:

[8/03/13 11:31:03 AM] Cédric Moro: We have a problem of copyright because OSM layers are not available in the Ushahidi mobile app.

[2013-03-09 22:11] djehauti opened #112 "Multiple dex files define Lcom/ushahidi/android/app/MapItemizedOverlay;"
When compiling Coretest, I get the following output:

[2013-03-09 15:58:17 - Dex Loader] Unable to execute dex: Multiple dex files define Lcom/ushahidi/android/app/MapItemizedOverlay;
[2013-03-09 15:58:17 - Coretest] Conversion to Dalvik format failed: Unable to execute dex: Multiple dex files define Lcom/ushahidi/android/app/MapItemizedOverlay;

I imported the Core project from Ushahidi_Android i

[2013-03-09 22:17] djehauti commented on #110
I solved this by adding Core as a library to Coretest, however, see my post #112 I may be doing that completely wrong

[2013-03-10 02:45] djehauti commented on #112
hrmph...  I removed the core/bin/core.jar from the buildpath and got it to go through, however, this feels hackish or even kludgish.  It seems that it should work with the core.jar and without having to add Core as a library, but in that instance I get:

Description Resource    Path    Location    Type
The type android.support.v4.app.FragmentMapActivity cannot be resolved. It is indirectly referen

[2013-03-11 17:52] djehauti commented on #112
All seems to work fine from here, if anyone thinks I'm doing anything funny please let me know, closing for now

[2013-03-11 17:52] #112 closed, assigned to nobody

[2013-03-22 11:19] ghost opened #113 "Bug: 4 Different Android OS versions and Still Crashing w/ Black Screen Error & Message"
" have downloaded the android app of Ushahidi v 3.1.4 on my phone.
When I open my deployment the screen goes 'black' and then ushahidi shuts down with the error message :
"Ushahidi has stopped unfortunately"
However, I am able to open other deployments (in my area) on my phone.
I have checked this behaviour on 4 different android phones with OS versions Ginger bread, ICS, Jelly bean. The page shut

[2013-03-22 13:27] ghost commented on #113
I am submitting this for fellow a Ushahidian, Manwinder, who has been trying since March 6 to do the above, however, he submitted this report on the Ushahidi forums for troubleshooting ( http://forums.ushahidi.com/forums/topic/android-application-shuts-down/ ) and facebook Ushahidi forum/group with no response.  If at all possible (I know you have a lot on your plates) this bug is needed to be add

[2013-03-22 15:27] eyedol commented on #113
@elle-espere -- Thanks for reporting. Looking into it.

[2013-03-22 15:28] eyedol commented on #111
@rjmackay  We have plans to support that.

[2013-03-25 05:09] manwinder commented on #113
@eyedol

Any updates on this ? Thanks

[2013-03-25 08:35] eyedol commented on #113
@elle-espere and @manwinder  Any URL I can test this fix with?

[2013-03-25 08:37] #109 closed, assigned to nobody

[2013-03-25 08:56] manwinder commented on #113
@eyedol

https://indiaoye.crowdmap.com/

This is the link of my deployment 'India OYE'

You may please test the fix with this. Thanks !

[2013-03-25 10:38] eyedol commented on #113
@manwinder  thanks

[2013-03-25 11:23] eyedol commented on #113
Fixed

[2013-03-25 11:23] #113 closed, assigned to nobody

[2013-03-25 11:24] #108 closed, assigned to nobody

[2013-03-25 12:26] eyedol commented on #105
@mrl-gt Ping. Anything I can look at? I know you were working on this sometime back

[2013-03-25 15:53] eyedol commented on #107
@GemmaNash This feature is for filtering a long map list. You might want to use the "Find Maps Around Me" feature. Which uses your current location to fetch maps around that location.

[2013-03-25 15:54] #107 closed, assigned to nobody

[2013-03-25 15:56] GemmaNash commented on #107
I've just tried that now (and had tried it before too). My map doesn't appear. In fact even at 250km I don't get any maps appearing.

[2013-03-25 15:59] GemmaNash commented on #107
Can you please re-open this issue?

[2013-03-25 17:02] manwinder commented on #113
I am afraid the problem has not yet been resolved.
I cannot open my deployment on my android phone still

Regards
Manwinder Singh
Contact - +91 99700 51851

On Mon, Mar 25, 2013 at 4:53 PM, Henry Addo notifications@github.comwrote:

[2013-03-25 18:30] eyedol commented on #107
Make sure your phone get a GPS fix. I can see maps around me within 250km. Which android version are you running?

Also if you know your latitude and longitude values, what do you get when you replace your values with the ones in  the URL http://tracker.ushahidi.com/list/?lat=55.3&lon=-3.4&distance=250&units=km

![Screenshot_2013-03-25-18-20-40](https://f.cloud.github.com/assets/73175/299371/9f1b1

[2013-03-25 18:35] eyedol commented on #113
@manwinder  Funky. This loads for me without a problem. Which version of Android are you running?.
Can you send me a log?
![Screenshot_2013-03-25-18-02-39](https://f.cloud.github.com/assets/73175/299414/af390564-957a-11e2-8f63-6ef2fafe4aab.png)

[2013-03-25 18:35] #110 closed, assigned to nobody

[2013-03-25 18:36] eyedol commented on #110
Glad to hear you got it sorted. Closed!

[2013-03-26 02:51] manwinder commented on #113
@eyedol Strange, I still can't open it on my phone (Android 4.1.2). The stranger part is that I am able to open other maps in the sorrounding (For e.g. Mumbai Civic Issues) but not mine.

Please find attached
1. Screen shot of the maps in my area including mine India OYE
   ![Screenshot_2013-03-26-07-16-33 1 ](https://f.cloud.github.com/assets/3960883/301127/bfb316ba-95bf-11e2-9382-192e89195399.pn

[2013-03-26 09:45] GemmaNash commented on #107
Ok, so Ushahidi did an update yesterday and I am receiving maps now, but only if I put my GPS on before I open the app. However, it's still not picking up my map and when I tried to enter and view it by adding the URL manually, it crashed. My lat/long on my deployment was a bit out and I've updated it, but I still can't see it.
I'm on Android version 4.0.4.
http://tracker.ushahidi.com/list/?lat=52

[2013-03-26 09:48] GemmaNash commented on #107
Incidentally, I can't find my deployment on the community site either.

[2013-03-26 14:17] petjal commented on #108
My Verizon Samsung Galaxy S III auto-updated the Ushahidi app this morning to v3.1.5 and this bug is fixed. My test crowdmap site works fine now.

Thanks!
Pete

[2013-03-26 23:01] eyedol commented on #113
@manwinder  Please send me crash reports with [catlog](https://play.google.com/store/apps/details?id=com.nolanlawson.logcat) if you don't mind

[2013-03-27 03:07] manwinder commented on #113
I am not a techie. Can you please guide me how can I send you the catlog.

I filled in a crash report and submitted with Android however

 On Mar 27, 2013 4:31 AM, "Henry Addo" notifications@github.com wrote:

[2013-03-27 03:56] manwinder commented on #113
Downloaded catlog

Sending you a log (though I am not sure it is exactly what you need. Just
ran ushahidi again after downloading catlog and thereafter saved the result
that is attached here)

Regards
Manwinder Singh
Contact - +91 99700 51851

On Wed, Mar 27, 2013 at 8:37 AM, manwinder singh
manwinder.aries@gmail.comwrote:

[2013-03-27 05:07] manwinder commented on #113
@elle-espere @eyedol

As per Kelli's suggestion I updated my ushahidi app version to 3.1.5
My deployment now works fine on my android phone.

However, Kelli has a list of 4 other problems that needs to be solved.
Look forward to your support :)

[2013-03-27 11:18] eyedol commented on #113
@manwinder  Glad to hear it's working.

Could you get Kelli to report the issues and include how I can reproduce them from my end? Thanks

[2013-03-28 02:31] manwinder commented on #113
@elle-espere

Hi Kelli, could you please co-ordinate with Henry about the other four problems as well
1. SMS Sync : Delay in outgoing alerts + Pending SMS (incoming) do not sync despite the correct URL etc.
2. Contact Us page - Throws an error message despite entering the correct verification code
3. Time difference on the 'Submit Report' page.

Thanks !

[2013-03-28 06:50] ghost commented on #113
@manwinder Absolutely!  One has been up for 3 days in the Ushahidi web forum:: #2 :)

[2013-03-28 15:17] ghost commented on #113
Thank you @eyedol for all your assistance to Manwinder and myself!

[2013-04-02 19:04] ghost commented on #113
@aoduor This is the issue that has been resolved. @manwinder

[2013-04-03 17:04] mikecamponovo opened #114 "Category only displaying time picker"
When trying to submit a report you have to select a category. However, when you pick the category button a time picker shows up, not the categories I set up on my crowdmap site.
I'm testing the application on Android 4.2.1 and 4.2.2 with app version 3.1.5.

[2013-04-03 22:34] stefanosc opened #115 "Unable to build using ADT several errors (see comment)"
Hello and thank you for the awesome work.
disclaimer: I am new to android dev and I am just learning so I may be missing something, please bear with me and let me know anything.

So I downloaded the repository as a zip and imported the "core" project.
I followed all the steps in BUILDING.txt
I added the libraries needed, and I am targeting 4.2.2 at the moment (I tried various versions of 4.xx)

I

[2013-04-03 23:42] eyedol commented on #114
Is this running on a stock Android? Behaves well at my end.

[2013-04-03 23:51] mikecamponovo commented on #114
Henry,
The two phones have a stock Android install. Could it be a problem with my Crowdmap instance? I tested it on my iPhone and using the web submission and it works perfectly. The crowdmap site is https://geog581.crowdmap.com. If you want to try it out I would greatly appreciate your feedback.

Thanks,
Michael

On Apr 3, 2013, at 5:42 PM, Henry Addo notifications@github.com wrote:

[2013-04-04 00:15] eyedol commented on #115
@stefanonyn This is not a bug. I would rather open an issue for improvement to documentation. Let's take this to the forums. I'm going to go ahead and close this.

[2013-04-04 00:15] #115 closed, assigned to nobody

[2013-04-04 00:18] eyedol commented on #114
Funky. It's not a problem with your install. I was able to successfully sent in a report to your crowdmap deployment. Could you send me a screenshot? also which device are you on? Tablet or phone? Brand?

[2013-04-04 16:28] mikecamponovo commented on #114
Henry,
The device we checked this morning is a Samsung Galaxy S3 smart phone. The
Map information we used was:
Title: geography 581 test map (is the title case sensitive?)
URL: https://geog581.crowdmap.com

I'm actually wondering if the phone isn't even connecting to the site
properly. Are the log in details different for the Android app than they
are for the iPhone app? The app on the android pho

[2013-04-04 16:29] mikecamponovo commented on #114
One more screenshot showing the lack of reports and that none of the
categories are visible when trying to filter those categories:
[image: Inline image 1]

On Thu, Apr 4, 2013 at 10:28 AM, Michael Camponovo
mikecamponovo@gmail.comwrote:

[2013-04-04 16:36] mikecamponovo commented on #114
And here are the "Map Details" from the Android App Screen:
[image: Inline image 1]

On Thu, Apr 4, 2013 at 10:29 AM, Michael Camponovo
mikecamponovo@gmail.comwrote:

[2013-04-04 18:36] eyedol commented on #114
@mikecamponovo  Thanks for the info. None of the images got attached. Could you respond via github.com instead so the images can show.

[2013-04-04 19:59] mikecamponovo commented on #114
Sure.

On Thu, Apr 4, 2013 at 12:36 PM, Henry Addo notifications@github.comwrote:

[2013-04-04 20:01] mikecamponovo commented on #114
Henry,
Here are the screen captures:
![](https://f.cloud.github.com/assets/4050578/340983/4643b280-9d62-11e2-871f-93f79088d012)
![Screenshot_2013-04-04-10-18-04](https://f.cloud.github.com/assets/4050578/340984/466997ca-9d62-11e2-949f-bc1e1e57df20.png)
![Screenshot_2013-04-04-10-23-54](https://f.cloud.github.com/assets/4050578/340985/466a0610-9d62-11e2-9ef7-999f5d618a3b.png)
![Screenshot_2013-04-0

[2013-04-04 21:14] stefanosc commented on #115
Thanks so much, I posted on the forum
http://forums.ushahidi.com/forums/topic/unable-to-build-using-adt-several-errors/

[2013-04-05 12:34] eyedol commented on #104
Completely removed with no traces

[2013-04-05 12:34] #104 closed, assigned to nobody

[2013-04-05 12:36] eyedol commented on #103
Done

[2013-04-05 12:36] #103 closed, assigned to nobody

[2013-04-05 13:08] eyedol commented on #114
Funky. Mind sending me logs. I can't reproduce it from my end. You can install [CatLog](https://play.google.com/store/apps/details?id=com.nolanlawson.logcat) It will record the logs, then you can send it to me.

Once you've CatLog installed, run Ushahidi Android till the error shows up. Then save the log. You can attach it to this thread. Thanks.

[2013-04-05 15:19] mikecamponovo commented on #114
Henry,
You have to use https instead of http (using the crowdmap site online or the iPhone app the "s" is automatically added). If you try to connect but don't add the "s" then the app crashes. When you restart the app it doesn't actually connect to the crowdmap site even though it looks like it is connected. I think this explains why the already submitted reports were not visible and why the cate

[2013-04-05 15:19] #114 closed, assigned to nobody

[2013-04-05 16:21] eyedol commented on #114
Glad to hear it's working. I'll fix the HTTP to HTTPS issue. Thanks for the feedback.

[2013-04-05 16:27] eyedol opened #116 "upgrade abs to 4.2.0"
Upgrade the current abs library to the newest version

[2013-04-07 02:02] eyedol commented on #114
Fixed!

[2013-04-09 15:07] heatherleson opened #117 "Adding maps is crashing"
Trying to add multiple maps, crashing
1. Searched location -maps near me. added two, when to add parksideworks.crowdmap.com. It crashed.
2. restarted app, tried again with this map, crashed
   3.picked roncsymemories.crowdmap.com - crashed.
3. Successfully added thedemocracityproject.org.
4. tried highheelslofi.crowdmap.com, crashed.

Is Crowdmap working with the Android app?

[2013-04-09 18:30] eyedol commented on #117
Damn! This thing is on a roll eh.

Did you add the `https` protocol when adding the URL. Also, when exactly does it crash? Just after you hit the `Ok` button to add the URL or when you attempt to sync after you successfully add the URL?

@heatherleson Yes Crowdmap works with the Android app.

[2013-04-11 11:46] heatherleson commented on #117
The action I was taking was : Search "Find maps near me" and click on the various crowdmaps near me.

Tried to manually add them. it appears to work.

Tried to remove "accessibleto.crowdmap.com" to test. This crashed the tool. The map remains in my list.
Tried to remove "snowintoronto.crowdmap.com" to test. This also crashed the tool. The map remains in my list.

[2013-04-11 13:10] eyedol commented on #117
Are you running Ushahidi Android v3.1.5 ?

[2013-04-11 13:16] heatherleson commented on #117
yes

[2013-04-13 12:51] ml1ght opened #118 "Don't shows google maps in application."
Hello. I use eclipse for compile project "Ushahidi_Android-sdk-integration". This is one of the projects which I can to compile. Other projects there are develop, master I can't compile.
My problem in sdk-integration project - don't show google maps in activities. In logCat message:
<b>Google Maps Android API(23089): Authorization failure.
Google Maps Android API(23089): Failed to load map.  Could

[2013-04-13 18:28] ml1ght commented on #118
Problem was in Api key in my application. Now all works fine.

[2013-04-14 13:54] ml1ght opened #119 "Bug on update reports"
I noticed one bug when updating reports on ReportTabActivity. When I select one of category (which no entries in it), and then click the Refresh button - there are reports of all the categories, but when I select any of them application is crashing (stored category selection to the lack of reports).
I suggest when user uses refresh button reset categories value to the "All Categories" value.

[2013-04-16 15:26] eyedol commented on #118
Glad to hear it's solved. I have merged `sdk-integration` into `develop` and I believe you should be able to compile without any issue.

[2013-04-16 15:26] #118 closed, assigned to nobody

[2013-04-16 15:36] ml1ght commented on #119
And another one problem I have in android 2.3 - application don't works and crashes on start.

[2013-04-16 15:54] eyedol commented on #119
What's the log saying?

[2013-04-17 13:32] dafe75 opened #120 "Bug in Ushahidi Android App (ver. 3.1.5) - pic attachment"
**Steps to reproduce the bug**
1. Upload a report with a picture attached via the Android App for Ushahidi (ver. 3.1.5);
2. Close the app;
3. Re-open the app while the report hasn't been approved by the deployment administrator yet;
4. The report is uploaded to the system again with no limit (that is, if you re-open the app 4 times you’ll have the same report uploaded 4 times).

_As mentioned in s

[2013-04-17 19:38] eyedol commented on #116
Done

[2013-04-17 19:38] #116 closed, assigned to nobody

[2013-04-18 15:24] eyedol commented on #111
Add OSM, MapBox tiles support

[2013-04-18 15:24] #111 closed, assigned to nobody

[2013-04-18 21:15] rjmackay commented on #111
Awesome!

[2013-04-21 08:17] manwinder commented on #120
There is another problem that I noticed with regards to reports submitted from Mobile (Android) App. 3.1.5

A) The same problem (as mentioned above) is observed even when the mobile app crashes.
i.e. you upload a report - it is pending for upload - app stops - you reopen the app thinking report would not have uploaded. But the report gets uploaded as many times as you reopen the app.

![Upload fai

[2013-04-21 10:59] eyedol commented on #120
@manwinder could you include your URL so I can test.

[2013-04-21 11:01] manwinder commented on #120
@eyedol @elleespere

https://indiaoye.crowdmap.com

[2013-04-21 11:08] manwinder commented on #120
@elle-espere got your spellings wrong. FYIP

[2013-04-22 08:32] eyedol commented on #111
@rjmackay Still have your old android phone? I would love for you to test on it for me when I get to the testing phase.

[2013-04-22 10:01] ml1ght commented on #119
This is shown in log:
 <b>FATAL EXCEPTION: main
 java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ushahidi.android.app/com.ushahidi.android.app.ui.phone.ViewReportActivity}: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
    at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2100)
    at android.app.ActivityThread.handleLaunchActivity(Act

[2013-04-23 00:13] eyedol commented on #120
@dafe75  and @manwinder. Fixed. I'll make an apk available for testing to confirm it works from your end.

[2013-04-23 00:14] eyedol commented on #119
@ml1ght Fixed. Try the latest code in `develop` branch. Let me know how it goes.

[2013-04-23 00:15] eyedol commented on #117
@heatherleson  I have made bunch of fixes and improvement to how maps are loaded and added. I'll make an apk available for testing.

[2013-04-23 07:16] ml1ght commented on #119
Hi, error still stay in latest code in developer branch.
<b>  FATAL EXCEPTION: main
  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ushahidi.android.app/com.ushahidi.android.app.ui.phone.ViewReportActivity}: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
    at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2100)
    at android.app.Ac

[2013-04-23 07:28] ml1ght commented on #119
I try to explain how get this error:
When I chose test map in ListMapActivity ->
go to the ReportTabActivity and chose category (where no reports) ->
and then tap update button and chose someone report ->
crash application.

[2013-04-23 14:53] manwinder commented on #120
@eyedol @elle-espere

hasn't improved for me
the categories still display in triplicate (PFA)

The reports are also getting uploaded every time I open the app and the
application crashes

![Screenshot_2013-04-23-20-11-02](https://f.cloud.github.com/assets/3960883/415116/89a08954-ac2b-11e2-93c6-749b3cf80062.png)
![repetitive reports](https://f.cloud.github.com/assets/3960883/415122/9c476118-ac2b-11

[2013-04-23 21:31] rjmackay commented on #111
yea.. its seriously resource strained but I can give the app a spin when the upgrade is out

[2013-04-23 23:54] eyedol commented on #120
@manwinder  are you running the latest code from `develop` ?

[2013-04-23 23:56] eyedol commented on #119
@ml1ght  are you running the latest `develop` code? Update your repo and give it a spin.

[2013-04-24 01:38] manwinder commented on #120
@eyedol  @elle-espere
please guide me how can I ensure that I am using the latest code.

I use crowdmap and my mobile app is updated to the latest.

[2013-04-26 03:13] ghost commented on #120
@eyedol was not able to reproduce error with updated code.   @dafe75  @manwinder

[2013-04-26 15:25] eyedol commented on #120
@elle-espere  Glad to hear. Closing this issue.

[2013-04-26 15:25] #120 closed, assigned to eyedol

[2013-04-26 18:07] manwinder commented on #120
@eyedol @elle-espere As requested earlier, can you please guide me with the updated code ?

There is no improvement at my end !

[2013-04-26 18:59] ml1ght commented on #119
Hello. Yes, you were right application not crash more but now it shows black/blank activity on Reports when I do next steps:
When I chose test map in ListMapActivity ->
go to the ReportTabActivity and chose category (where no reports) ->
and then tap update button and chose someone report -> black/blank Activity.

Log:
<b> W/SurfaceView(5661): CHECK surface infomation creating=false formatChanged=

[2013-04-27 05:20] reddy2401 commented on #119
Hello,

[code]

[2013-04-27 06:41] ml1ght commented on #119
Thank you. It's really work fine. And if you can explain the reason why it's happened?

P.S. and if you know how i can resolve my problem:
How I can view MAP in MapFragment used location by GPS mobile location but not default location?

[2013-04-27 06:52] reddy2401 opened #121 "Unable to load images when navigating reports in ViewReportActivity"
Application, unable load images when navigating using arrow symbols in ViewReportActivity.
Even reports having images in list page then not loading images in ViewReportActivity when using navigating symbols.

[2013-04-27 08:44] eyedol commented on #119
@reddy2401 mind sending  a pull request. I'll give it a review and merge when all is good

[2013-04-27 08:46] eyedol commented on #121
@reddy2401 Does it load the images when you swipe between the screens

[2013-04-27 08:57] eyedol commented on #119
@ml1ght you might want to check how its done in this class https://github.com/ushahidi/Ushahidi_Android/blob/develop/Core/src/com/ushahidi/android/app/MapUserLocation.java

[2013-04-27 09:16] eyedol commented on #120
@manwinder Read this guide https://wiki.ushahidi.com/display/WIKI/Build+The+Android+App

[2013-04-27 09:49] reddy2401 commented on #121
@eyedol  No, But all images are loading  before preparing List Screen. All fetched reports images are available in device cache .

[2013-04-27 11:36] eyedol commented on #121
@reddy2401 Update your code. Made some changes that fixed that yesterday.

[2013-04-28 06:46] manwinder commented on #120
@eyedol @elle-espere Thanks for the guide.
I am not a techie / developer. So just relied on the latest version (3.1.5) that was available on the play store last time.
I couldn't find any new update available on the play store. Won't the improvement mentioned above be a part of the new release ? If yes, when is the new release.

Thank you and please excuse me for my 'technical' ignorance.

[2013-05-03 00:04] ghost commented on #120
@manwinder please excuse me not replying earlier.  Will send you an email.

[2013-05-03 20:12] eyedol commented on #121
@reddy2401 after updating the code, are you able to reproduce this error? I want to close this issue.

[2013-05-04 05:33] reddy2401 commented on #121
@eyedol  issue rectified in latest code. You can close the issue.
Thanks.

[2013-05-04 06:02] eyedol commented on #121
Thanks

[2013-05-04 06:02] #121 closed, assigned to nobody

[2013-05-05 21:57] #117 closed, assigned to nobody

[2013-05-05 22:04] eyedol opened #122 "Merge cwacmerge library into core"
To reduce library dependencies, merge cwacmerge library into core code maintaining all licensing information.

[2013-05-06 04:42] #122 closed, assigned to nobody

[2013-05-06 04:53] #119 closed, assigned to nobody

[2013-05-06 10:40] eyedol opened #123 "Add menu drawer support"
For a more coherent and easier navigation, add a menu drawer support based on the implementation by [SimonVT](https://github.com/SimonVT/android-menudrawer/)

[2013-05-06 20:47] heatherleson opened #124 "Adding post fails"
Tried to add a report to trashwag.org.

The categories field does not appear. Instead the time stamp field opens. Closing and restarting does not work. This appears to be an app issue, not a map issue as I added trashwag to my android map list.

Nexus 4.2.1

[2013-05-06 21:41] eyedol commented on #124
Fixed in the upcoming release. Thanks Heather

[2013-05-06 21:41] #124 closed, assigned to nobody

[2013-05-10 08:27] #123 closed, assigned to nobody

[2013-05-10 08:27] eyedol commented on #23
Added this via a webview

[2013-05-10 08:27] #23 closed, assigned to nobody

[2013-05-10 10:22] eyedol opened #125 "Add Clustering Maps"
Use this [android map extension](https://code.google.com/p/android-maps-extensions/) to provide clustering

[2013-05-15 05:45] eyedol opened #126 "MapFragment flickers when scrolling"
This has to do with Google maps v2 android. Headache...

[2013-05-15 05:47] ghost commented on #126
We appreciate you!!! Thanks, and hope you feel better soon.  (Sorry this
isnt tech you just sounded like you need encouragement.

On Wed, May 15, 2013 at 1:45 AM, Henry Addo notifications@github.comwrote:

[2013-05-15 10:00] aoduor opened #127 "Android app crashing"
Via @ggodby
" Hello,
I have tried to use ushahidi from two different Android phones (Sony xperia X10 and Nexus 4) and the results are the same. The app will only work on the demo.ushahidid.com site. When I try to update a map on crowdmap.com or my own installation at map.oldstrathconatimes.com the app crashes every time."

[2013-05-15 10:02] aoduor commented on #127
Hey @ggodby, what version of the app are you running?

Pinging @eyedol

[2013-05-15 11:33] eyedol commented on #127
@ggodby which crowdmap deployment were you trying to update?. Also, I cannot reach http://map.oldstrathconatimes.com/api?task=incidents It redirects to the home page.

[2013-05-15 11:52] aoduor commented on #127
Hmmm, @eyedol, http://map.oldstrathconatimes.com/api?task=version also redirects to the homepage. Also, @ggodby, when using a crowdmap deployment, make sure your url starts with https:// and not http://

[2013-05-15 11:54] eyedol commented on #126
@elle-espere Thanks :+1:

[2013-05-15 12:05] aoduor commented on #127
Narrowed this down to an issue with clean URLs, have a look at http://map.oldstrathconatimes.com/index.php/api?task=version. @ggodby, try enabling clean URLs via your settings page in the admin panel and let us know how it goes?

[2013-05-15 12:21] eyedol commented on #127
@ggodby If it's a server side configuration then check this wiki entry https://wiki.ushahidi.com/display/WIKI/Enabling+Clean+URLs

I don't expect the app to crash when there is no clean URL.

Good catch @aoduor

[2013-05-15 12:55] #127 closed, assigned to nobody

[2013-05-15 15:01] dkobia opened #128 "Search Box Issue (3.1.6-debug-2)"
- I'm only able to type **one letter** into the search box. Can't add anything more.

![](http://dl.dropboxusercontent.com/u/501659/Screenshots/ou~~.png)

[2013-05-15 15:02] dkobia opened #129 "Can't Scroll on Report View (3.1.6-debug-2)"
- The app hangs and restarts when I try to scroll on a report

![screen shot 2013-05-15 at 11 01 41 am](https://f.cloud.github.com/assets/184092/508807/e270c630-bd91-11e2-87dc-fa96401ed227.png)

[2013-05-15 15:03] dkobia opened #130 "Maybe Move Search Bar (3.1.6-debug-2)"
- Perhaps move the search bar from the scroll view to right under the categories label?

![screen shot 2013-05-15 at 11 02 41 am](https://f.cloud.github.com/assets/184092/508808/f3387850-bd91-11e2-8106-8b27509486a9.png)

[2013-05-15 15:04] ggodby commented on #127
Hello Angela,
   That worked fine. I am using NGINX on the server side and once I
enabled clean URLs my Android Ushahidi app was able to connect and
upload reports.
Cheers
G.

Gavin Godby
GGN Solutions Inc.
10521 78 Avenue               phone: (780) 439-8948
Edmonton, Alberta T6E 1P3

On 15/05/2013 6:05 AM, Angela Oduor wrote:

[2013-05-15 15:13] eyedol commented on #130
I don't think Android will allow that. Perhaps on the actionbar but I'll have to see how well it plays with the tabs.

[2013-05-15 15:40] eyedol commented on #129
@dkobia  Could you capture the logs if you can? and attach it to this issue. Also, which deployment are you testing against so I can play with it on my devices. It looks good here.

[2013-05-15 18:05] #128 closed, assigned to nobody

[2013-05-15 19:00] dkobia commented on #129
@eyedol - testing on http://crime.mapatl.com

Here's a snippet of the error

[code]

[2013-05-16 00:20] #129 closed, assigned to nobody

[2013-05-17 06:07] #29 closed, assigned to nobody

[2013-05-17 06:34] eyedol opened #131 "Properly handle successfully uploaded report but bad server response."
Sometimes when you make an Ushahidi API call to submit a report, the report is successfully uploaded to the server but then something else happens and the server returns an unexpected response. At the moment, we use the status code returned by the server to determine if the report successfully got uploaded then delete the pending report on the app.

Now to determine if the report was successfully

[2013-05-17 07:49] eyedol opened #132 "Switch to using the newly released navigation drawer"
See http://developer.android.com/training/implementing-navigation/nav-drawer.html

[2013-05-21 20:03] junixbr opened #133 "Application crashes when upload photo in a report from photo galery."
Applications crashes when upload photo, from photo gallery, in a report.

[2013-05-21 23:34] eyedol commented on #133
@junixbr Which version? Works fine on my phone.

[2013-05-22 01:39] junixbr commented on #133
I've got from the last stable.

[2013-05-22 14:19] eyedol commented on #133
@junixbr from the play store?

[2013-05-22 16:28] junixbr commented on #133
Yes, exactly.

[2013-05-22 16:54] eyedol commented on #133
@junixbr  Could you give step by step on how to reproduce it. Things looks good from my end.

[2013-05-22 17:16] junixbr commented on #133
For example:
1- I start a report
2- I get a picture from photo gallery
3- when I try to upload the report, the application crashes.

[2013-05-23 01:29] eyedol opened #134 "Remove duplicate string entries"
There are couple of duplicate entries in the String.xml file.

[2013-05-23 08:07] #134 closed, assigned to nobody

[2013-05-24 05:30] eyedol opened #135 "Change cursor drawable color from white to gray"
The cursors drawable is white and the form fields are white too. This makes the cursor appear invisible.

[2013-05-24 05:34] eyedol commented on #133
@junixbr Is there a way you can grab the crash report? I still can't reproduce it.

[2013-05-24 05:52] #135 closed, assigned to nobody

[2013-05-24 15:51] eyedol opened #136 "Catch Null Media Values"
Now media values are NULL which throws exceptions causing the app to crash at time when syncing a report.

[code]

[2013-05-24 16:51] junixbr commented on #133
eyedol, I have no idea why, but now is working fine!
I don't know if there is a new release that my phone updated.
Anyway, thank you very much.

[2013-05-24 22:43] #136 closed, assigned to nobody

[2013-05-27 11:48] eyedol opened #137 "Pop up launches the wrong report view"
When the map's pop up is tap to launch the respective report view, it takes you to the last report view instead.

[2013-05-27 14:45] eyedol commented on #133
@junixbr Funky. I'm working on a new update. I'll ping you for testing to see if it re-appears?

[2013-05-27 14:45] #133 closed, assigned to nobody

[2013-05-27 14:46] #87 closed, assigned to nobody

[2013-05-27 15:00] junixbr commented on #133
Feel free to contact me anytime.

=)

On Mon, May 27, 2013 at 11:45 AM, Henry Addo notifications@github.comwrote:

[2013-06-02 06:56] Lunkster opened #138 "App crashes when syncing my deployment"
My deployment (v. 2.7) on Amazon EC2 worked as a charm on Android, but suddenly it chrashes when syncing against my deployment. Working ok on the Ushahidi demo site, but not anymore on my own. Tested with two different Samsung and Android versions (Wildfire S and Galaxy SIII 4G). The app still works on iOS against the same deployment. Therefore the problem should lie within the Android app. But as

[2013-06-02 07:06] Lunkster opened #139 "Unable to change position of a report"
When reporting with the app the position I'm at is the one that is used. So far so good, but if I want to report something at some other position, I fail. I’m not able to input right position...

Samsung SIII 4G

Ushahidi v 3.2.6

[2013-06-02 18:58] Lunkster commented on #138
Catlog from Samsung Wildfire S, and it seems it's syncing for a time until it fails....

---

06-02 12:02:58.111 E/MetadataRetrieverClient(   73): failed to extract an album art
06-02 12:02:58.131 D/MediaProvider( 1499): thumbnail original width 200, height 198
06-02 12:02:58.131 D/MediaProvider( 1499): thumbnail 1st resize width 200, height 198, mAlbumSize=320
06-02 12:02:58.302 I/com.ushahidi.an

[2013-06-02 23:45] pdmholden opened #140 "Add instructions for building with Ant"
Currently the BUILDING.txt files do not provide information about building on the command line with Ant. I'm happy to add this information now that I've figured it out.

[2013-06-03 03:04] eyedol commented on #138
I suspect the return of `null` values via the API. I'll look into it

[2013-06-03 12:49] #137 closed, assigned to nobody

[2013-06-03 13:25] eyedol commented on #138
@Lunkster this has been fixed in this commit #136. Closing

[2013-06-03 13:25] #138 closed, assigned to nobody

[2013-06-03 13:31] eyedol commented on #131
Resort to default action, Delete. Not sure how to properly handle it.

[2013-06-03 13:31] #131 closed, assigned to nobody

[2013-06-03 13:32] eyedol commented on #125
Looking at android map extension, there is more work to be done than I thought. I'll look into this further on future release

[2013-06-03 13:33] #125 closed, assigned to nobody

[2013-06-03 13:44] Lunkster opened #142 "Upload images .jpeg fails - .jpg ok"
When a report uploads and contains a .jpeg image, the image becomes an empty frame and doesn't show. If I change the very same image to .jpg, everything works ok.

Ushahidi 2.7
http://kajakplatser.se

[2013-06-03 13:50] Lunkster commented on #142
Oops, sorry... This was meant to be in "Ushahidi Web", my mistake...

[2013-06-03 13:50] #142 closed, assigned to nobody

[2013-06-03 19:23] #140 closed, assigned to nobody

[2013-06-04 00:53] eyedol commented on #126
I'm clearing this off this milestone as this bug is hard to fix. It's a known bug with Google maps v2 android -- https://code.google.com/p/gmaps-api-issues/issues/detail?id=4639 -- I have tried most of the workaround on stackoverflow but none worked. Keeping this as known issue that would be solved in the future.

[2013-06-04 18:31] Lunkster commented on #138
Upgraded app and tested, worked fine. Great job!

[2013-06-05 22:00] Lunkster opened #143 "App shows verified in list but not in reports"
All reports are shown as verified when listing them, but when clicking on each report for details, all verified reports are shown as Verified: No.

[2013-06-06 06:47] Lunkster opened #144 "implement link to location in Google Navigation app"
Would be great to be able to get routing to a reports location. A menue option in report view: "navigate to location in maps/navigator", for quick and easy routing service.

Is this possible?

[2013-06-06 14:48] pdmholden commented on #105
Is anyone working on this? If not, I'd be happy to give it a try.

[2013-06-06 18:41] fauners opened #145 "private deployments do not work"
Hi
I am unable to access any private deployments. There does not seem to be a way to login or anything.
Is there a way to do this?
thanks
adam

[2013-06-07 11:11] eyedol commented on #105
@pdmholden  @mrl-gt was looking into it. We realized it was quite tricky to use the account manager to handle authentication because of the different Ushahidi deployment out there. So we decided to take a different approach and save the credentials using `Preferences`.

@inoran Did some preliminary work base on this approach. He used the old `HTTP` client we were using before. See his commit here

[2013-06-08 03:19] pdmholden commented on #105
Will do.

[2013-06-08 06:57] pdmholden commented on #105
Let me confirm what needs to be done:

1) Switch the current WebClient login mechanism to use the API instead.
2) Store the user's credentials on the phone.
3) The user will still use the WebClient to access the admin features of their deployment.

Have I got everything right?

[2013-06-09 07:52] eyedol commented on #105
@pdmholden Correct.

Yes, they will use the `WebClient` to access the admin features. We can then use the stored credentials to login via the `WebClient` so the user shouldn't have to type their credentials to login.

[2013-06-26 09:51] andrew659 opened #146 "Performance improvement suggestion"
Dear developers,

I am a big fan of Ushahidi, and recently I am writing a static code analysis tool to conduct performance analysis for Android apps. I found several violations of "view holder" patterns in Ushahidi's code. These violations could affect the ListView scrolling performance.

Currently in Ushahidi, in some list adapters the getView() method works likes this

public View getView(int po

[2013-06-26 19:13] eyedol commented on #146
You are right. Those adapters need refactoring. Thanks for reporting this.

[2013-06-26 19:16] eyedol commented on #145
@fauners This hasn't been implemented. However there has been some interest in the community to fix this. Hopefully it should be implemented soon.

[2013-06-27 09:47] fauners commented on #145
cool. It would be a major advantage i think personally. the mobile theme for ushahidi doesn't have login capabilities either so mobile usage is limited at the minute.

[2013-06-27 23:54] eyedol opened #147 "Filter By Categories Broken"
This was reported on the mobile and skype dev chat by one Amira. Stack trace here

[code]

[2013-07-01 05:12] #143 closed, assigned to nobody

[2013-07-01 05:12] #147 closed, assigned to nobody

[2013-07-01 05:12] #146 closed, assigned to nobody

[2013-07-02 04:29] eyedol opened #148 "Location Names may return null values"
A null location name causes the app to throw exception. When a location name is null replace that with 'No location name'

[2013-07-07 20:56] andrewcarreiro opened #149 "Whitelabelled app locking into demo map list"
To reproduce this bug:
1. I've white-labelled a new app based on Beijing on the develop/ branch
2. Start the app
3. Open the left drawer
4. Hit 'Admin'
5. Open the left drawer
6. Hit 'Maps'
7. The maps list only shows the Ushahidi Demo map, despite deployment_url being set to a particular string.

[2013-07-08 02:11] eyedol opened #150 "About Layout"
There is a huge margin between the social media buttons and the bottom of the screen.

[2013-07-08 08:50] #132 closed, assigned to nobody

[2013-07-08 08:57] eyedol opened #152 "Remove Legacy GSON code"
There are some old GSON Code. Remove them as GSON is fully supported Java SDK

[2013-07-08 08:59] eyedol opened #153 "Upgrade Ushahidi Java SDK to v1.1"
- Upgrade Ushahidi Java SDK to v1.1. As of now, it's using v1.0

[2013-07-08 09:21] #150 closed, assigned to nobody

[2013-07-08 14:22] #153 closed, assigned to nobody

[2013-07-08 14:27] #152 closed, assigned to nobody

[2013-07-08 15:06] eyedol commented on #149
@andrewcarreiro  Thanks for reporting this. I suspect your deployment URL isn't validating. How did you pass it to the `deployment_url` variable.

[2013-07-09 01:24] andrewcarreiro commented on #149
The deployment variable is set in theme.xml like so:
`<string name="deployment_url">https://trashswag.com</string>`

To clarify, at steps 2-4, it shows the report list with only items from my deployment. Once I get to step 7, it shows the list of deployments where the only item is the Ushahidi demo.

I'm not sure if this may affect the current situation, but my Google Maps API is not yet set up.

[2013-07-09 03:01] eyedol commented on #149
@andrewcarreiro I get what is going on. When you set the `deployment_url` value, the map list view is not supposed to show at all. So the menu item for `Maps` in the navigation drawer should be disabled as well. Looking into it.

[2013-07-09 06:00] eyedol commented on #149
@andrewcarreiro made some changes to the nav drawer. Could you confirm this is fixed? Get the latest develop code.

[2013-07-09 06:01] #148 closed, assigned to nobody

[2013-07-10 01:29] eyedol opened #154 "bump version number for a release"
Increase the version number in the manifest file and prep for a release

[2013-07-10 01:30] #149 closed, assigned to nobody

[2013-07-10 02:36] #154 closed, assigned to nobody

[2013-07-12 03:07] andrewcarreiro commented on #149
The drawer appears to be entirely removed now; was that intentional?

[2013-07-12 07:17] eyedol commented on #149
Yeah. It doesn't fit well with the navigation tabs and Google's design guideline discourages using it with the navigation tabs

[2013-07-15 00:30] andrewcarreiro commented on #149
Understood. Thanks for looking into this!

[2013-07-15 04:55] Sunnyjean opened #155 "Take video function doesn't work"
Dear Ushahidi community members,

I read on the descriptions of Ushahidi Android app on Google Play https://play.google.com/store/apps/details?id=com.ushahidi.android.app&hl=en, which states that the app can take both pictures and videos.

But when I tried the app, I can only find the option to take pictures. So I tried to use
the "Add Photo" option to access the camera, but noticed that the Video

[2013-07-16 21:38] ospar0829 opened #157 "private deployment"
If the deployment is private, the android app crashes

[2013-07-17 07:14] eyedol commented on #157
@ospar0829 Any stack trace?

[2013-07-17 13:17] ospar0829 commented on #157
No, I only make the test switching on the web Site Settings and check the android app

[2013-07-23 14:48] andrewcarreiro opened #158 "Main map does not load, but mini-maps in reports do"
In my whitelabeled app, maps load on an individual report's page, but not on the main "map" tab. The red bubble-pins exist on the main map, but there is no background.

My Google maps api key has been set up, and this issue was noted on a signed app.

My theme.xml file's Google maps api section looks like this, with "myapikey" being replaced by my real api key.

[code]

Any ideas on how this would

[2013-07-24 02:50] eyedol commented on #158
Funky. Did you use your app's package name to generate the apikey?

[2013-07-24 03:14] andrewcarreiro commented on #158
Yes, and it works in the individual report page, which is why I assumed it
wasn't an API issue.
On 23 Jul 2013 22:50, "Henry Addo" notifications@github.com wrote:

[2013-07-24 05:03] eyedol commented on #158
Hmm. Anything interesting from the logs?

Also, what happens if you hard code the api key in your themed manifest file. See [here](https://github.com/ushahidi/Ushahidi_Android/blob/develop/Themes/Ushahidi/AndroidManifest.xml#L315)

[2013-07-24 05:10] eyedol commented on #158
@andrewcarreiro I can reproduce this from my end. I will double check tonight. Let me know how it goes with the hard coded API in the manifest file

[2013-07-25 13:28] andrew659 opened #159 "Database queries in UI thread"
Dear developers,

I am analyzing Ushahidi using a static code checker. I found some potential slow operations in Ushahidi's UI thread.

Android documentation says this:
http://developer.android.com/training/articles/perf-anr.html

"Any method that runs in the UI thread should do as little work as possible on that thread. In particular, activities should do as little as possible in key life-cycle m

[2013-07-26 17:58] andrewcarreiro commented on #158
Hard coded API doesn't seem to fix it; I've attached the only red in the logs below:
`
07-26 13:53:35.295: E/com.ushahidi.android.app.util.Objects(16253): InstantiationException
07-26 13:53:35.295: E/com.ushahidi.android.app.util.Objects(16253): java.lang.InstantiationException: can't instantiate class com.ushahidi.android.app.views.View
07-26 13:53:35.295: E/com.ushahidi.android.app.util.Objects(

[2013-07-26 18:38] andrewcarreiro commented on #158
I'm not sure if this is related, but changing categories in the full map view don't seem to limit the pins shown, either.

[2013-07-29 01:37] eyedol commented on #159
@andrew659 Thanks for reporting this. I'll take a look at it.

Just curious, where is this static code checker? Anywhere I can play with it as well? Thanks

[2013-07-29 01:39] eyedol opened #160 "Add Google analytics"
This should make us gather useful data for improving the application.

See: https://developers.google.com/analytics/devguides/collection/android/v2/

[2013-07-29 02:27] andrew659 commented on #159
@eyedol The checker is implemented by me and currently it is still a research prototype. Right now, it only supports the detection of (1) slow operations in UI thread, and (2) view holder pattern violation in list view adapters. You can see issue 146 for the view holder pattern violations detected by my tool.

I am still working on studying more patterns to make the tool more useful. I can share w

[2013-07-30 08:12] eyedol commented on #158
@andrewcarreiro That should be a bug. Fixed filtering by category.

The map api key issue, I still can't figure out what's causing it. Did you change the package name for these entries in your manifest file?

[code]

[2013-08-22 13:50] dafe75 opened #161 "No Position recording if device offline"
_App Ver. 3.9_
When you try to submit a report while the device is offline (for example, because of a lack of wi-fi or 3G connection), the position (GPS latitude & longitude) is not recorded; in this case, the coordinates are usually the ones from the location where the device is when the connection is back online.

[2013-10-24 02:20] CaribbeanGIS opened #162 "Bug: Android app not compatible with Nexus 7"
The Android app https://play.google.com/store/apps/details?id=com.ushahidi.android.app cannot be installed on a Google Nexus 7 running Android 4.3 Jelly Bean. Are there any other versions of the app that might work?

[2013-10-30 12:49] bijen-singh opened #163 "Comment API for adding new comment didn't not expose any date parameter"
Now I am using the latest version of Ushahidi 3.9 (Android client). When I submit the comment using the comment API there is no parameter included for date and time. It just takes incident id, comment author, comment description, comment email.

Is there any parameter for date and time while sending comment on a particular report?

[2013-11-24 23:16] pibinko opened #164 "Categories are repeated in selection drop-down on Samsung Galaxy S2"
This is for Ushahidi v3.9 on Samsung Galaxy S2 (android v. 2.2.1).

when I go to select an issue category while submitting a new report, the list of categories is displayed with each category appearing four times (e.g. if I have categories a,b, and c I see in the drop-down lis

a
a
a
a
b
b
b
b
c
c
c
c

note: on an ASUS tablet (Android 4.2.1) the same version of the app displays the categories corr

[2013-11-26 05:30] WeSLGT commented on #39
I just ran into this issue and specifically fixed it by changing my whitelabel themes AndroidManifest.xml package name to "com.ushahidi.android.app" from com.<whitelabelname>.android.app

[2014-01-09 06:14] reddy2401 commented on #158
The issue with map tile.
comment the  following code in MapFragment.java at 112 line in initMap() method.
       Util.setMapTile(getActivity(), map);
Then map displays without tiles.

[2014-01-13 15:11] shakhal commented on #158
Thank you @reddy2401, solved our problem too, great timing!

[2014-02-23 10:27] aomegax commented on #158
Hi, I have the same problem with map in "Add Report". Any ideas about?

[2014-04-07 13:34] Robzter opened #165 "Several issues"
On the listing screen the thumbnails switch places between reports, the reports itself does not (text etc).

The map does not display more then the zoom bar rest is a beige screen with google copyright bottom rright displaying.

on samsung galaxy s2 when switching from mapview back to listview the vire becomes black were the reports show clicking on reload removes the black frame.

The time shows

[2014-05-01 05:56] Robzter opened #166 "Ushahidi android app v3.9, MAJOR BUG"
the server show report with right photo
but at the android app, some photos are repeated or wrong.

when refreshing the images change to repeated or wrong again.. the server is always showing the correct ones.

This is a MAJOR bug and needs to be fixed ASAP please assist with this.

Thanks

[2014-05-02 13:40] eyedol opened #167 "Drop Support for Ant in favour of Gradle"
Gradle support for Android has matured and is a solid build system over ant. Switch to using Gradle instead.

[2014-05-02 13:45] eyedol opened #168 "Drop ABS support in favour Android support version of AB"
ABS is kinda deprecated and encourages the use of the official AB support library. See http://developer.android.com/guide/topics/ui/actionbar.html

[2014-05-02 13:50] #158 closed, assigned to nobody

[2014-05-02 13:50] #159 closed, assigned to nobody

[2014-05-02 13:50] #160 closed, assigned to nobody

[2014-05-05 07:58] leekanghwan opened #169 "Uhsahidi android app V3.9 problem"
"Share" on Android phone receives incorrect ID

I am currently testing with 'sharing a report to other social media' in Android phones. When I press 'share button,' I get a different ID on my app from the server. For example, when the ID of a report in my server is 5, my app somehow recieves 500 for the ID.

Does anyone experience the same error? Any fixes, any tips to fix this would be greatly ap

[2014-06-09 14:08] lupa18 opened #172 "Ushahaidi in my language"
Hi !! I've installed the app but it runs in English. My Android is in Spanish.
Is this a bug, I mean, the language is there but is not configured correctly, or translation doesn't exists. In that case, where can I contribute to make it possible?

thanks in advance

[2014-06-12 21:22] joeyvanderbie commented on #158
For me it turned out to be a debug problem over Wifi as stated here: http://stackoverflow.com/a/17527910

Fixed by adding
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> in the manifest

[2014-07-25 20:51] alessandronunes opened #173 "Documentation to change the Demo map"
Where is the doc explaining how to change the Demo map?

[2014-07-28 18:49] alessandronunes commented on #172
I got the translation on "https://www.transifex.com/projects/p/ush_Android/".
But I could not find any language configuration, so I replaced the "Core/res/values/strings.xml" by the downloaded one. It works, but that is not the right way to do.
You should be able to point your project to the correct translation folder.

[2014-08-12 14:57] alessandronunes commented on #164
There will be any new update? I'm getting this same problem. It just occurs when I select more than one Category, or change the current selected category.

[2014-11-03 01:33] wboykinm commented on #161
@eyedol I've noticed a derivation of this where any address entered into the "location" field when filing a report fails to update the report location - it seems like address search isn't firing at all (which would also cause @dafe75's problem). Is it possible a Google maps token has expired, or will this require a more-comprehensive rewrite of [`GeocoderTask.java`](https://github.com/ushahidi/Ush

[2014-11-24 16:00] alessandronunes commented on #166
Any predictions on when it will be released the new version? Or could @eyedol show some easy fix for this? Thanks!

[2014-11-26 17:07] alessandronunes commented on #166
I found the problem. On file ReportsApi.java, line 102, the fileName is using the date/time to create the name for the saved photos. It creates a mess, once a lot of pictures are saved on the same second, with the same name.

My fix is just replace the line:

[code]

By:

[code]

Saving the picture with the same name on the server.

[2014-11-27 07:24] eyedol commented on #166
@alessandronunes  mind sharing a `PR`?

[2014-11-27 13:12] alessandronunes commented on #166
PR?

[2015-01-23 10:08] fmarzocca opened #174 "Add photo doesn't work on my Android"
Trying to ad a photo to a report, but it doesn't work. I have tried both by using the internal Camera or by arraching a Gallery photo, but no photo is attached.

[2015-01-31 17:40] Rszotak commented on #166
Will submit push request with change and documentation shortly...

[2015-01-31 17:51] Rszotak commented on #166
Pull request committed, changed date time descriptor for file names to specific URL, similar to alessandronunes with the minor difference of making the String final.

[2015-01-31 18:04] Rszotak opened #175 "Vertical scrolling for map does not work on reports page"
When viewing a report (can be seen on all demo maps as well as others), the map plugin in the list does not scroll vertically but it does scroll horizontally.

Could be either gesture recognition issue or maps API issue.

[2015-01-31 18:07] Rszotak commented on #126
This is no longer an issue and should be closed. The scrolling works properly now. This is likely a result of the updated maps api that is being used.

[2015-01-31 18:54] Rszotak commented on #165
Commit submitted to increase uploaded image preview size for android phones.

[2015-01-31 18:59] Rszotak commented on #174
Was able to add photos from galaxy note 3 from internal camera. Also was able to add photos form the gallery that were taken using internal camera. Could not upload photos that had been downloaded from other apps or saved from websites.

fmarzocca - What phone are you user and what firmware version?

[2015-01-31 19:15] Rszotak commented on #174
I suspect that there is an issue with default photo viewers. I found that I could upload photos from the default android gallery after reseting my default applications in the settings. Many manufacturers put crap on top of the android stock. However this application only accepts paths to photos from the android gallery, not another "album" application. The work around for now would just be resetti

[2015-01-31 19:21] Rszotak opened #176 "Support for Third Party Photo Viewers/Handle External Photo Locations"
When uploading a photo to create a new report, only the default android gallery is supported. Uploading from other applications (such as the samsung album) the photo does not actually upload. Only when the user has the android gallery selected as the default photo application will photos upload properly. Also, the application crashes entirely when the path to a photo is not local. For example, pho

[2015-01-31 19:26] fmarzocca commented on #174
I am using a galaxy S3 mini. I am able to add photos only if I shoot them directly, can't upload photos from the gallery.

[2015-01-31 19:27] fmarzocca commented on #174
Ok, I will try your suggestions.
Thanks!

[2015-01-31 21:09] Rszotak commented on #165
Committed a change to the time format to 24Hr format. It seems that most users are outside of the US and as a result us 24Hr format instead of 12.

[2015-02-27 19:13] yulin2 opened #178 "choose between AsyncTask and IntentService/AsyncTaskLoader"
Hello, I'm doing research on Android async programming. I see in `Ushahidi_Android`, you use `IntentService` at some places (`SyncServices`) while use `AsyncTask` at other places (such as `GeocoderTask`). I'm wondering how do you choose between `AsyncTask` and `IntentService`? because both are used to execute background tasks.

As far as I know, some articles (for example [this article](http://bon

[2015-04-22 08:49] unNene opened #179 "Show only one default Map"
Hi,

I need to make app to use only default website as server and to hide the Activity where use can Add or select others Maps.

A small guide ( files to look ) and how to add programmaticaly and new Map will help me.

Thank you.

[2015-09-15 07:04] semadi opened #181 "Map Not Load"
Hi
im new ushahidi android sdk, i have problem with map, my app cannot load main map and report map in my device.i change the google api key with sha1 but map not load

any idea what's my mistake ?

please help

Thanks

[2018-08-18 17:38] poVoq opened #183 "Source code to new Android app?"
The link here in the repo is broken, and I can't find the Android client's source code.

Is it actually available?

P.S.: How do I remove a deployment in the Android client?

[2019-07-10 22:11] #173 closed, assigned to nobody

[2019-07-10 22:11] alessandronunes commented on #173
Deprecated.

[2022-03-21 12:04] tuxpiper opened #201 "Test"

[2022-03-21 12:04] #201 closed, assigned to nobody